Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pylint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

Update deps; Remove pyyaml
  poetry.lock
  pyproject.toml
Due: none

Separate notification; Lot's of small refactoring
  src/normcap/clipboard.py
  src/normcap/enhance.py
  src/normcap/gui/main_window.py
  src/normcap/gui/notifier.py
  src/normcap/gui/update_check.py
  src/normcap/magics/email_magic.py
  src/normcap/magics/url_magic.py
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/screengrab.py
  src/normcap/utils.py
  src/tests/test_clipboard.py
Due: isort, black, pylint, mypy, pytest

Remove deprecated functionality [build]
  README.md
Due: mdformat

Handle missing settings; Add logging for quitting reasons
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings.py
  src/normcap/utils.py
Due: isort, black, pylint, mypy, pytest

Repair cross cursor; Fix window on linux wayland
  src/normcap/gui/base_window.py
  src/normcap/gui/settings_menu.py
Due: isort, black, pylint, mypy, pytest

Hide global mac settings
  src/normcap/gui/settings.py
Due: isort, black, pylint, mypy, pytest

Decrease macos window transparency
  src/normcap/gui/base_window.py
Due: isort, black, pylint, mypy, pytest

ctrl c
  src/normcap/app.py
Due: isort, black, pylint, mypy, pytest

Add fake border window for mac [build]
  src/normcap/gui/base_window.py
Due: isort, black, pylint, mypy, pytest

Make ctrl+c in terminal work; Formatter [build]
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/settings.py
Due: isort, black, pylint, mypy, pytest

Bump version; Update docs
  CHANGELOG.md
  pyproject.toml
Due: mdformat

Remove deprecated code
  src/normcap/gui/base_window.py
  src/tests/test_downloader.py
Due: isort, black, pylint, mypy, pytest

Tiny simplifications
  src/normcap/gui/settings.py
  src/normcap/gui/update_check.py
Due: isort, black, pylint, mypy, pytest

Fix show/hide on macos
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pylint, mypy, pytest

Formatting
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pylint, mypy, pytest

Change shipped languages
  build.py
Due: isort, black, pylint, mypy, pytest

Include libpng for MacOS
  build.py
Due: isort, black, pylint, mypy, pytest

Remove dist infos from repos
  .gitignore
  src/normcap.dist-info/INSTALLER
  src/normcap.dist-info/METADATA
Due: none

More robust version handling by hard coding
  src/normcap/__init__.py
  src/tests/test_app.py
Due: isort, black, pylint, mypy, pytest

Simplify some methods
  src/normcap/args.py
  src/normcap/clipboard.py
  src/normcap/gui/downloader.py
  src/normcap/logger.py
Due: isort, black, pylint, mypy, pytest

Refactor system info, settings handling and language data discovery
  src/normcap/app.py
  src/normcap/data.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/resources/tessdata/add_more_languages.txt
  src/normcap/screengrab.py
  src/normcap/system_info.py
  src/normcap/utils.py
  src/tests/fixtures.py
  src/tests/test_args.py
  src/tests/test_models.py
  src/tests/test_system_info.py
  src/tests/test_update_check.py
  src/tests/test_utils.py
Due: isort, black, pylint, mypy, pytest

Make version discovery more robust
  src/normcap/gui/update_check.py
Due: isort, black, pylint, mypy, pytest

Adjust test action to new language discovery
  .github/workflows/test.yaml
Due: none

Bump version
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: mdformat

Add some tests [test] [build]
  src/normcap/gui/update_check.py
  src/normcap/system_info.py
  src/tests/test_app.py
  src/tests/test_system_info.py
  src/tests/test_utils.py
Due: isort, black, pylint, mypy, pytest

Fix condition for screenshot methods [test] [build]
  src/normcap/screengrab.py
Due: isort, black, pylint, mypy, pytest

handle BaseWindow.hideEvent exception for non-macOS systems
  src/normcap/gui/base_window.py
Due: isort, black, pylint, mypy, pytest

Grab screenshot by screen on Linux X-Server [test] [build]
  src/normcap/screengrab.py
Due: isort, black, pylint, mypy, pytest

Grab screenshot by screen on Linux X-Server [test] [build]
  assets/screencast/produce_error_msg.sh
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/screengrab.py
Due: isort, black, pylint, mypy, pytest

Solve hidpi warning [test] [build]
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/resources/normcap.svg
  src/normcap/resources/settings.png
  src/normcap/resources/settings.svg
  src/normcap/utils.py
  src/tests/test_utils.py
Due: isort, black, pylint, mypy, pytest

Improve logging [test] [build]
  pyproject.toml
  src/normcap/app.py
  src/normcap/clipboard.py
  src/normcap/enhance.py
  src/normcap/gui/base_window.py
  src/normcap/gui/downloader.py
  src/normcap/gui/main_window.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/system_tray.py
  src/normcap/gui/update_check.py
  src/normcap/magic.py
  src/normcap/magics/email_magic.py
  src/normcap/magics/url_magic.py
  src/normcap/ocr.py
  src/normcap/screengrab.py
  src/normcap/utils.py
  src/tests/test_update_check.py
Due: isort, black, pylint, mypy, pytest

Fix init tessdata test
  .github/workflows/test.yaml
  .gitignore
  CHANGELOG.md
  src/normcap/gui/base_window.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix macos dependencies
  build.py
  src/normcap/gui/base_window.py
Due: isort, black, pylint, mypy, pytest

Fix open folder on windows; Add openssl as dependency for windows
  CHANGELOG.md
  FAQ.md
  build.py
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix some info in FAQ
  FAQ.md
Due: mdformat

Fix #142
  .pre-commit-config.yaml
  src/normcap/gui/main_window.py
Due: isort, black, pylint, mypy, pytest

Small refactorings
  build.py
  src/normcap/enhance.py
  src/normcap/gui/settings_menu.py
  src/normcap/magic.py
  src/normcap/magics/email_magic.py
  src/normcap/magics/url_magic.py
  src/normcap/models.py
  src/normcap/utils.py
Due: isort, black, pylint, mypy, pytest

Bump version; Show black diff in ci-cd
  .github/workflows/test.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pylint, mypy, pytest

Store languages as list instead tuple #143
  src/normcap/data.py
  src/normcap/gui/settings_menu.py
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Bump version
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pylint, mypy, pytest
