Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest --log-cli-level=10 src/tests/ --cov normcap
          --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=1 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Fix missing deps
  README.md
Due: mdformat

Update deps; Add safety
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: mdformat

Remove unused deps
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove unnecessary gnome-shell calls
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/normcap/gui/system_info.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/utils.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_screengrab/test_utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix crash on gnome screenshot got cancelled
  CHANGELOG.md
  src/normcap/screengrab/dbus_portal.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove unnecessary caching of image as file for ocr
  CHANGELOG.md
  src/normcap/ocr/recognize.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Exclude some steps from actions in forks
  .github/workflows/python.yaml
Due: none

Fix missing deps (#207)
  README.md
Due: mdformat

Add dependencies for opensuse
  CHANGELOG.md
  README.md
Due: mdformat

Fix condition in github action
  .github/workflows/python.yaml
Due: none

Dev (#208)
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  build.py
  docs/index.html
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/system_info.py
  src/normcap/ocr/magics/magic.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/utils.py
  src/normcap/utils.py
  src/tests/conftest.py
  src/tests/integration/test_normcap.py
  src/tests/test_args.py
  src/tests/test_utils.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_screengrab/test_utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

fix FAQ link in README
  README.md
Due: mdformat

Fix patching briefcase to keep appimage small
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Strip more unnecessary qt files from appimage
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

fix FAQ link in README (#209)
  README.md
Due: mdformat

Fix/strip down appimage (#210)
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix dependencies in website; Extend changelog.
  CHANGELOG.md
  docs/index.html
Due: mdformat

Fix css for feature description
  docs/style.css
Due: none

Update package sizes
  docs/index.html
Due: none

Fix dependencies in website; Extend changelog. (#211)
  CHANGELOG.md
  docs/index.html
  docs/style.css
Due: mdformat

Bump to 0.3.4
  README.md
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix typo on website - closes #212
  docs/index.html
Due: none

Fix typo on website - closes #212 (#213)
  docs/index.html
Due: none

Move manually executed code analysis tools to an extra
  build.py
  poetry.lock
  pyproject.toml
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix linter findings
  pyproject.toml
  src/normcap/ocr/magics/base_magic.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/utils.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix/code analysis tools as extras (#214)
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/ocr/magics/base_magic.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/utils.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Introduce nuitka for building appimage
  .github/workflows/python.yaml
  .gitignore
  build_with_briefcase.py
  build_with_nuitka.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/resources/tesseract/.keep
  src/normcap/utils.py
  src/tests/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify prebuild package detector
  src/normcap/app.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/utils.py
  src/tests/tests_gui/test_system_info.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add build args for windows
  .gitignore
  build_with_nuitka.py
  src/normcap/gui/system_info.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix tests
  build_with_nuitka.py
  src/normcap/gui/system_info.py
  src/normcap/utils.py
  src/tests/test_utils.py
  src/tests/tests_gui/test_system_info.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

WIP Windows installer
  .gitignore
  assets/normcap.wxs
  build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Format
  assets/normcap.wxs
  build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Restructure build files
  .github/workflows/python.yaml
  .gitignore
  build/build_with_briefcase.py
  build/build_with_nuitka.py
  build/imgs/normcap-128.png
  build/imgs/normcap-16.png
  build/imgs/normcap-256.png
  build/imgs/normcap-32.png
  build/imgs/normcap-512.png
  build/imgs/normcap-64.png
  build/imgs/normcap.icns
  build/imgs/normcap.ico
  build/imgs/normcap_install.bmp
  build/imgs/normcap_install.icns
  build/imgs/normcap_install.png
  build/imgs/normcap_install_bg.bmp
  build/imgs/normcap_install_bg.png
  build/imgs/normcap_install_top.bmp
  build/normcap.svg
  build/normcap.wxs
  build_with_nuitka.py
  pyproject.toml
  src/normcap/resources/metainfo
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix linux icon path
  build/build_with_nuitka.py
  build/metainfo
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Move image
  build/imgs/normcap.svg
Due: none

Fix path
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Include tls
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix windows build
  app.dist
  build/build_with_nuitka.py
  build/normcap.wxs
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Adjust faq
  .gitignore
  build/build_with_nuitka.py
  docs/index.html
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix build for Linux
  .github/workflows/python.yaml
  .gitignore
  app.dist
  build/build_with_nuitka.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps
