Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

No need to upload twice
  .github/workflows/release.yml
Due: none

Try semicolon
  .github/workflows/release.yml
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

try abs path
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

Revert to relative path
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

try compress action
  .github/workflows/release.yml
Due: none

try 7z again
  .github/workflows/release.yml
Due: none

test zip upfront
  .github/workflows/release.yml
Due: none

try download individual files
  .github/workflows/release.yml
Due: none

Add most important languages
  .github/workflows/release.yml
Due: none

Prepare for debug
  .github/workflows/release.yml
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove nested folders
  .github/workflows/release.yml
Due: none

Add PIL to hidden imports
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

fix path to upload
  .github/workflows/release.yml
Due: none

Install pillow from pip
  .github/workflows/release.yml
  Pipfile
Due: none

Zip not so deep
  .github/workflows/release.yml
Due: none

Set format png to avoid JPEG keyerror
  Pipfile
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove debugging; enable all builds
  .github/workflows/release.yml
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

comment workaround
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Install Pillow as default, found other workaround
  .github/workflows/release.yml
  Pipfile
Due: none

Make sure tesserocr gets installed on macos
  Pipfile
Due: none

PRiv assemblies for win
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

fix darwin
  Pipfile
Due: none

No pywin on linux/mac needed
  Pipfile
Due: none

fix packages
  Pipfile
Due: none

Capitalize
  .github/workflows/release.yml
Due: none

Try onefile build
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix zipping
  .github/workflows/release.yml
Due: none

Switch back to onedir (faster) and finalize workflow
  .github/workflows/release.yml
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

Prepare for new alpha release
  CHANGELOG.md
  README.md
Due: none

Simplify wording
  .github/workflows/release.yml
  README.md
Due: none

Enable testing on dev and pr's
  .github/workflows/test.yml
Due: none

Test on PR only
  .github/workflows/test.yml
Due: none

Add tests for mac and windows
  .github/workflows/test.yml
Due: none

Fix intendation
  .github/workflows/test.yml
Due: none

Switch to best traineddate on windows build
  .github/workflows/release.yml
Due: none

Remove leftover of debug output
  normcap/handlers/magic_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove magic triggers
  README.md
  normcap/common/data_model.py
  normcap/handlers/crop_handler.py
  normcap/handlers/magic_handler.py
  normcap/magics/base_magic.py
  normcap/magics/email_magic.py
  normcap/magics/url_magic.py
  normcap/normcap.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Tiny textual adjustments
  README.md
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Exchange levensthein with jaccard for less deps and more speed
  Pipfile
  README.md
  normcap/common/utils.py
  setup.cfg
  setup.py
  tests/images/test_images.json
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Test setup.py using wheel directely
  setup.py
Due: black, mypy, pytest, pytest-cov

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
