Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pylint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

Patch windows installer to allow upgrading #148 [build]
  build.py
Due: isort, black, pylint, mypy, pytest

Add release info
  CHANGELOG.md
Due: mdformat

Add meta info to appimage (will be shown in hub)
  build.py
  src/normcap/resources/metainfo
Due: isort, black, pylint, mypy, pytest

Include version in release names; Remove 'Linux' from release name as required by appimagehub
  build.py
Due: isort, black, pylint, mypy, pytest

Add docstring; More robust update check
  build.py
  src/normcap/gui/update_check.py
  src/tests/test_update_check.py
Due: isort, black, pylint, mypy, pytest

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Tiny code improvements
  src/normcap/system_info.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: isort, black, pylint, mypy, pytest

Detect and print gnome-shell version
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Use portal API for screenshots on gnome 41+ to mitigate #159
  src/normcap/screengrab.py
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Bump version
  CHANGELOG.md
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pylint, mypy, pytest

Add adr
  CHANGELOG.md
  adr/001-choose-transparent-windows-as-main-gui.md
  adr/README.md
Due: mdformat

Remove superfluous spaces in case only chinese languages are selected #158
  src/normcap/magic.py
  src/normcap/models.py
  src/normcap/ocr.py
  src/tests/fixtures.py
Due: isort, black, pylint, mypy, pytest

Use requests for downloading if qtnetwork fails
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/downloader_requests.py
  src/normcap/gui/update_check.py
  src/tests/test_downloader.py
Due: isort, black, pylint, mypy, pytest

Update dep; Fix minor build issue
  CHANGELOG.md
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/__init__.py
  src/normcap/system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Remove shell argument (sonarcloud finding)
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Don't use shell for subprocess (sonarcloud finding)
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Fix change in build dependencies
  build.py
  pyproject.toml
Due: isort, black, pylint, mypy, pytest

Refactory gh-actions; Introduce tbump; Move docs to main branch
  .github/workflows/build.yaml
  .github/workflows/python.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  build.py
  docs/favicon-16x16.png
  docs/favicon-192x192.png
  docs/favicon-32x32.png
  docs/favicon-96x96.png
  docs/favicon.ico
  docs/img/crossplatform.png
  docs/img/github-dark.png
  docs/img/github.png
  docs/img/languages.png
  docs/img/main.jpg
  docs/img/multimonitor.png
  docs/img/normcap.gif
  docs/img/normcap.svg
  docs/img/opensource.png
  docs/img/placeholder.png
  docs/img/transforms.png
  docs/img/tray.png
  docs/index.html
  docs/pico-bootstrap-grid.min.css
  docs/script.js
  docs/style.css
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/utils.py
  src/tests/test_downloader.py
  src/tests/test_update_check.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix single language not parsed correctely from config
  CHANGELOG.md
  src/normcap/ocr.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix wrong tbump rule
  pyproject.toml
Due: none

Bump to 0.2.10
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pylint, mypy, pytest

Fix build issues
  .github/workflows/python.yaml
  build.py
Due: isort, black, pylint, mypy, pytest

Fix gh-pages deployment
  .github/workflows/python.yaml
Due: none

Add gitignore to docs
  docs/.gitignore
Due: none

Switch from tesserocr to pytesseract
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  README.md
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/system_info.py
  src/tests/test_system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix wrong lib in macos build
  .github/workflows/python.yaml
  build.py
Due: isort, black, pylint, mypy, pytest

Download tesseract binaries
  .github/workflows/python.yaml
  .gitignore
  build.py
  src/normcap/app.py
  src/tests/test_system_info.py
Due: isort, black, pylint, mypy, pytest

Patch pytesseract for custom build
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Fix linter issues
  src/normcap/ocr.py
  src/normcap/system_info.py
Due: isort, black, pylint, mypy, pytest

Fix failing test; disable test on windows
  build.py
  src/normcap/system_info.py
  src/tests/test_system_info.py
Due: isort, black, pylint, mypy, pytest

Switch from tesserocr to pytesseract (#167)
  .github/workflows/python.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/system_info.py
  src/tests/test_system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Revert "Switch from tesserocr to pytesseract (#167)"
  .github/workflows/python.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/models.py
  src/normcap/ocr.py
  src/normcap/system_info.py
  src/tests/test_system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Catch exception caused by gnome-shell not being present
  .github/workflows/python.yaml
  CHANGELOG.md
  build.py
  src/normcap/system_info.py
Due: mdformat, isort, black, pylint, mypy, pytest

Fix tests
  .github/workflows/python.yaml
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/update_check.py
  src/normcap/ocr/models.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/utils.py
  src/normcap/system_info.py
  src/tests/test_app.py
  src/tests/test_models.py
  src/tests/test_system_info.py
  src/tests/test_utils.py
  src/tests/tests_ocr/ocr_fixtures.py
Due: isort, black, pylint, mypy, pytest

Fix tests
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  src/normcap/gui/main_window.py
  src/normcap/gui/utils.py
  src/normcap/models.py
  src/normcap/ocr/magics/url_magic.py
  src/normcap/ocr/recognize.py
  src/tests/ocr_testcases.py
  src/tests/test_app.py
  src/tests/test_utils.py
Due: mdformat, isort, black, pylint, mypy, pytest

Add deps for pytesseract
  build.py
  poetry.lock
  pyproject.toml
Due: isort, black, pylint, mypy, pytest

Fix linux appimage
  .pre-commit-config.yaml
  build.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/utils.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/normcap/ocr/utils.py
  src/normcap/system_info.py
  src/tests/test_system_info.py
  src/tests/tests_ocr/ocr_fixtures.py
Due: isort, black, pylint, mypy, pytest

[WIP] test coverage
  .github/workflows/python.yaml
  README.md
  build.py
  docs/index.html
  sonar-project.properties
  src/normcap/gui/main_window.py
  src/normcap/resources/base_window.ui
Due: mdformat, isort, black, pylint, mypy, pytest
