Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
fail_fast: true

repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: compile_locales
        name: compile locales
        stages: [commit]
        language: system
        entry: poetry run python l10n.py
        pass_filenames: false

      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black normcap tests/ bundle/
        types: [python]

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest tests/
        types: [python]
        pass_filenames: false

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict --ignore-vuln PYSEC-2022-42969 -r
          <(poetry export -f requirements.txt --with=dev)"
        # ONHOLD: Remove once fix for PYSEC-2022-42969 got published
        pass_filenames: false
        types: [toml]

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry: poetry run pydeps normcap --max-bacon=2 -o=pydeps.png -T=png
        types: [python]
        pass_filenames: false

      - id: pydeps-internal
        name: pydeps-internal
        stages: [commit]
        language: system
        entry: poetry run pydeps normcap --max-bacon=1 -o=pydeps_internal.png -T=png
        types: [python]
        pass_filenames: false

chore: poetry update
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pip-audit

build: add retry to brew install
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none

docs: add adr about shortcut/hotkey
  adr/004-do-not-implement-hotkey.md
Due: mdformat

chore(gui): simplify Screen model; add test
  normcap/gui/models.py
  normcap/gui/window.py
  tests/tests_gui/test_models.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

build: fix template branch
  normcap/screengrab/dbus_shell.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

test(screengrab): add tests for main
  normcap/gui/tray.py
  normcap/screengrab/__init__.py
  normcap/screengrab/main.py
  tests/integration/test_normcap.py
  tests/integration/test_settings_menu.py
  tests/integration/test_tray_menu.py
  tests/tests_screengrab/test_main.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(gui): increase screenshot delay (e.g. after closing the intro window)
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: increase coverage
  tests/test_utils.py
  tests/tests_gui/test_system_info.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: switch to maintained retry2; resolve pip-audit finding
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pip-audit

fix(gui): Enable click on notification also for raw-results
  normcap/gui/notification.py
  normcap/ocr/models.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

refactor(clipboard): simplify adding more clipboard implementations
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  CHANGELOG
  normcap/clipboard/__init__.py
  normcap/clipboard/handlers/__init__.py
  normcap/clipboard/handlers/base.py
  normcap/clipboard/handlers/pbcopy.py
  normcap/clipboard/handlers/qtclipboard.py
  normcap/clipboard/handlers/windll.py
  normcap/clipboard/handlers/wlclipboard.py
  normcap/clipboard/handlers/xclip.py
  normcap/clipboard/linux.py
  normcap/clipboard/macos.py
  normcap/clipboard/main.py
  normcap/clipboard/qt.py
  normcap/clipboard/windows.py
  normcap/gui/tray.py
  tests/conftest.py
  tests/tests_clipboard/test_clipboard.py
  tests/tests_clipboard/test_linux.py
  tests/tests_clipboard/test_macos.py
  tests/tests_clipboard/test_main.py
  tests/tests_clipboard/test_pbcopy.py
  tests/tests_clipboard/test_qt.py
  tests/tests_clipboard/test_qtclipboard.py
  tests/tests_clipboard/test_windll.py
  tests/tests_clipboard/test_windows.py
  tests/tests_clipboard/test_wlclipboard.py
  tests/tests_clipboard/test_xclip.py
  tests/tests_gui/test_clipboard.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

build: include xclip in appimage
  bundle/platforms/linux_briefcase.py
  normcap/utils.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

debug(clipboard): log paths to clipboard utils
  normcap/clipboard/handlers/pbcopy.py
  normcap/clipboard/handlers/qtclipboard.py
  normcap/clipboard/handlers/windll.py
  normcap/clipboard/handlers/wlclipboard.py
  normcap/clipboard/handlers/xclip.py
  normcap/utils.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

build: update briefcase
  poetry.lock
  pyproject.toml
Due: pip-audit

build: include shiboken6 in appimage
  bundle/platforms/linux_briefcase.py
  bundle/platforms/utils.py
  normcap/app.py
  normcap/gui/system_info.py
  normcap/utils.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

docs: add link to shortcut adr; add link to xclip
  README.md
  docs/index.html
  normcap/clipboard/handlers/wlclipboard.py
  normcap/utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(gui): set window icon of introduction window #544
  normcap/gui/introduction.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(gui): render intro window above capture ui
  normcap/gui/introduction.py
  normcap/gui/tray.py
  tests/tests_gui/test_introduction.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

ci: switch to trusted publishing to pypi #528
  .github/workflows/python.yaml
Due: none

ci: switch from poetry to hatch #527
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  .gitignore
  .pre-commit-config.yaml
  README.md
  bundle/platforms/utils.py
  l10n.py
  normcap/resources/locales/README.md
  poetry.lock
  pyproject.toml
  tests/test_app.py
Due: mdformat, black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

ci: integrate l10n tasks into hatch
  .gitignore
  bundle/l10n.py
  bundle/platforms/utils.py
  hatch_build.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/it_IT/LC_MESSAGES/messages.po
  normcap/resources/locales/pl_PL/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/uk_UA/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal

ci: remove black excludes which are already covered by gitignore
  normcap/resources/locales/README.md
  pyproject.toml
Due: mdformat, pip-audit

docs: add adr about transition to hatch
  adr/005-use-hatch-instead-poetry.md
  pyproject.toml
Due: mdformat, pip-audit

chore: switch from black to ruff format
  normcap/screengrab/utils.py
  pyproject.toml
  tests/tests_clipboard/test_pbcopy.py
  tests/tests_clipboard/test_wlclipboard.py
Due: black, ruff, mypy, pytest, pip-audit, pydeps, pydeps-internal
