Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest --log-cli-level=10 src/tests/ --cov normcap
          --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=1 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Adjust readme
  .github/workflows/python.yaml
  README.md
  build/build_with_nuitka.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix actions
  .github/workflows/python.yaml
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Build on Ubuntu 22.04; Add metainfo into appimage
  .github/workflows/python.yaml
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps
  .github/workflows/python.yaml
  build/build_with_nuitka.py
  poetry.lock
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add libfuse
  build/build_with_nuitka.py
  pyproject.toml
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

fix tess deps
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix deps
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Use file to get resources path
  .gitignore
  build/build_with_nuitka.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix switch
  build/build_with_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Restructure package build
  .github/workflows/python.yaml
  .gitignore
  build/build_with_nuitka.py
  package/build.py
  package/build_with_briefcase.py
  package/imgs/normcap-128.png
  package/imgs/normcap-16.png
  package/imgs/normcap-256.png
  package/imgs/normcap-32.png
  package/imgs/normcap-512.png
  package/imgs/normcap-64.png
  package/imgs/normcap.icns
  package/imgs/normcap.ico
  package/imgs/normcap.svg
  package/imgs/normcap_install.bmp
  package/imgs/normcap_install.icns
  package/imgs/normcap_install.png
  package/imgs/normcap_install_bg.bmp
  package/imgs/normcap_install_bg.png
  package/imgs/normcap_install_top.bmp
  package/metainfo
  package/normcap.wxs
  package/platforms/linux_briefcase.py
  package/platforms/linux_nuitka.py
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
  package/platforms/windows_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Build both nuitka and briefcase
  .github/workflows/python.yaml
  package/build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Build both nuitka and briefcase
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  package/build.py
  package/build_with_briefcase.py
  package/platforms/linux_briefcase.py
  package/platforms/macos_briefcase.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Continue on error
  .github/workflows/python.yaml
  package/platforms/windows_briefcase.py
  pyproject.toml
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

-a
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix test
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix deprecation warning pillow
  .github/workflows/python.yaml
  src/normcap/ocr/enhance.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps; try without integration tests
  poetry.lock
  pyproject.toml
  src/normcap/ocr/enhance.py
  src/tests/integration/test_normcap.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Reenable int tests
  src/tests/integration/test_normcap.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix dev naming
  .github/workflows/python.yaml
  package/build.py
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Tray true in test
  .github/workflows/python.yaml
  package/platforms/macos_briefcase.py
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
  src/tests/integration/test_normcap.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Try MacOS 10.15
  .github/workflows/python.yaml
Due: none

Try adding xz
  package/platforms/macos_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Try removing xz
  .github/workflows/python.yaml
  package/platforms/macos_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Try using non-binary pillow
  .github/workflows/python.yaml
Due: none

Add version output
  .github/workflows/python.yaml
Due: none

Try installling pip without binary
  .github/workflows/python.yaml
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Try building arm
  package/platforms/macos_nuitka.py
  poetry.lock
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Build x86 only
  package/platforms/macos_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps
  .github/workflows/python.yaml
  package/platforms/utils.py
  poetry.lock
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix nuitka prefix for linux
  .github/workflows/python.yaml
  CHANGELOG.md
  package/platforms/linux_briefcase.py
  package/platforms/linux_nuitka.py
  package/platforms/macos_briefcase.py
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update filesize
  .github/workflows/python.yaml
  docs/index.html
Due: none

Patch nuitka pickle
  .github/workflows/python.yaml
  docs/index.html
  poetry.lock
  pyproject.toml
Due: none

Update deps; Fix briefcase patching on linux
  .github/workflows/python.yaml
  package/platforms/linux_briefcase.py
  poetry.lock
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Smarter hide after notification on windows
  src/normcap/gui/notifier.py
  src/normcap/gui/tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update briefcase; Update pillow on briefcase
  .github/workflows/python.yaml
  package/platforms/linux_nuitka.py
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  poetry.lock
  pyproject.toml
  src/normcap/ocr/enhance.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bundle all tesseract deps
  package/platforms/linux_nuitka.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add required Python version for package install to fix #221
  README.md
  docs/index.html
Due: mdformat

Fix tesseract path on briefcase macos
  .github/workflows/python.yaml
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps
