Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black normcap tests/ bundle/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=2 -o=pydeps.png -T=png
  pass_filenames: false

pydeps-internal:
  name: pydeps-internal
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=1 -o=pydeps_internal.png -T=png
  pass_filenames: false

test: fix assert not matching message
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for notification without tray icon
  normcap/gui/notification.py
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for notification without tray icon
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: fix type hint; exclude line from coverage
  normcap/clipboard/windows.py
  normcap/gui/notification.py
  normcap/screengrab/__init__.py
  tests/tests_gui/test_loading_indicator.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for screengrab qt
  tests/tests_screengrab/test_qt.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for showing message box
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for parse to bool
  tests/tests_gui/test_settings.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: fix some types
  tests/integration/testcases/data.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore(gui): refactor window and add tests
  normcap/gui/tray.py
  normcap/gui/window.py
  tests/conftest.py
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: mark gui tests; make loading indactor test less flaky
  normcap/gui/loading_indicator.py
  tests/tests_gui/test_loading_indicator.py
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: type issues
  tests/test_main.py
  tests/test_utils.py
  tests/tests_gui/test_language_manager.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: fix linter issues, drop unnecessary fixtures, add GWT
  tests/conftest.py
  tests/test_utils.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add test for unsafe url
  normcap/gui/downloader.py
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore(gui): improve loading indicator code and add tests
  normcap/gui/loading_indicator.py
  tests/tests_gui/test_loading_indicator.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: add testcase for macos show settings
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

docs: correct wording in readme
  README.md
Due: mdformat

refactor(gui): remove unused signal
  normcap/gui/tray.py
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(screengrab): increase timeout for dbus-portal to fix #494
  CHANGELOG
  normcap/screengrab/dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: poetry update
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  poetry.lock
  pydeps_internal_old.png
  pyproject.toml
Due: none

feat(l10n): Add localization helper script and readme
  l10n.py
  normcap/resources/locales/README.md
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

docs: small improvements
  .github/ISSUE_TEMPLATE/bug_report.yml
  README.md
Due: mdformat

feat(l10n): add empty templates for other common languages
  l10n.py
  normcap/resources/locales/README.md
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): add german translations
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
Due: none

feat(l10n): integrate gettext for translations
  normcap/gui/constants.py
  normcap/gui/downloader.py
  normcap/gui/language_manager.py
  normcap/gui/localization.py
  normcap/gui/menu_button.py
  normcap/gui/models.py
  normcap/gui/notification.py
  normcap/gui/settings.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): add coverage info to readme
  normcap/resources/locales/README.md
Due: mdformat

chore: fix some linter issues
  normcap/clipboard/linux.py
  normcap/ocr/tesseract.py
  normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

build: temporarily ignore pip-audit finding
  .github/workflows/python.yaml
  .pre-commit-config.yaml
Due: none

feat(l10n): refactor prebuilt packages and integrate compiling l10n files
  .pre-commit-config.yaml
  bundle/platforms/linux_briefcase.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  l10n.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): improve markdown stats"
  l10n.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): Improve some strings a bit
  CHANGELOG
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
  tests/conftest.py
  tests/tests_gui/test_menu_button.py
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
  pydeps-internal: any of: \.py$
