Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

Remove deprecated file
  Pipfile
Due: none

Update version
  setup.py
Due: black, mypy, pytest, pytest-cov

Supress stdout of pyperclip command
  normcap/handlers/clipboard_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add alpha tray icon option
  normcap/common/utils.py
  normcap/normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove deprecated
  test.py
Due: black, flake8, mypy, pytest, pytest-cov

Add pydocstyle linter
  requirements.txt
Due: none

Add platform indicator
  normcap/common/data_model.py
Due: black, flake8, mypy, pytest, pytest-cov

Use globally detected platform
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Switch away from pipenv
  .pre-commit-config.yaml
Due: none

Refactor to use dummy window and allow overrideredirect
  normcap/handlers/crop_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Update tests for new cli --tray
  normcap/normcap.py
  tests/images/test_images.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Catch exceptions for tray variant
  normcap/normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Revert "Catch exceptions for tray variant"
  normcap/normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Add dependency necessary for pystray
  setup.py
Due: black, mypy, pytest, pytest-cov

Add entry for v0.1.7
  CHANGELOG.md
Due: none

Obfuscate dummy window on close
  .github/workflows/coveralls.yml
  normcap/handlers/crop_handler.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix platform recognition
  README.md
  normcap/handlers/crop_handler.py
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix window not in front on Windows
  normcap/handlers/crop_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix builds
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Fix wrong condition
  normcap/handlers/crop_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Adjust build script
  .github/workflows/build.yml
Due: none

Correctly include ressource files
  MANIFEST.in
Due: none

Add some debugging output
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove tray icon support for now
  normcap/common/utils.py
  normcap/normcap.py
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump version: 0.1.7 → 0.1.8
  normcap/__init__.py
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Append entry for 0.1.8
  CHANGELOG.md
Due: none

Adjust python version form macos
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

Exclude nsis extension
  .gitignore
Due: none

Add windows installer build
  .github/workflows/build.yml
  build.py
  normcap/configure.py
  normcap/ressources/win_installer.nsis
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix notification handler
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add cli switch to turn off notifications
  normcap/normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Prepare 0.1.9 release
  CHANGELOG.md
  README.md
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Add no-notifications arg to test
  tests/images/test_images.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Add alt-attr for sonar scan
  assets/screencast/website_with_emails.html
Due: none

Fix typos
  CHANGELOG.md
Due: none

Catch exception if notifier lacks dependencies
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add libnotify to dependencies
  README.md
Due: none

Update dependencies
  requirements.txt
  setup.py
Due: black, mypy, pytest, pytest-cov

Bump version: 0.1.9 → 0.1.10
  normcap/__init__.py
  normcap/ressources/win_installer.nsis
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
