Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

build(release): bump to 0.4.3
  README.md
  docs/index.html
  normcap/__init__.py
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps

fix(gui): exit through system tray is broken #458
  CHANGELOG
  docs/index.html
  normcap/gui/tray.py
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

build(release): bump to 0.4.4
  README.md
  docs/index.html
  normcap/__init__.py
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps

docs: update install python version on windows to fix #465
  README.md
  docs/index.html
Due: mdformat

chore: update deps
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

test: use skipif instead of xfail
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  pyproject.toml
  tests/tests_clipboard/test_linux.py
  tests/tests_clipboard/test_macos.py
  tests/tests_clipboard/test_qt.py
  tests/tests_clipboard/test_windows.py
  tests/tests_gui/test_clipboard.py
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_update_check.py
  tests/tests_gui/test_window.py
  tests/tests_ocr/test_tesseract.py
  tests/tests_screengrab/test_dbus_portal.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

refactor: typos, comments & and other small stuff
  bundle/build.py
  normcap/clipboard/linux.py
  normcap/gui/constants.py
  normcap/gui/downloader.py
  normcap/gui/loading_indicator.py
  normcap/gui/models.py
  normcap/gui/notifier.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  normcap/gui/utils.py
  normcap/gui/window.py
  normcap/ocr/enhance.py
  normcap/ocr/magics/base_magic.py
  normcap/ocr/magics/email_magic.py
  normcap/ocr/magics/magic.py
  normcap/ocr/magics/multi_line_magic.py
  normcap/ocr/magics/paragraph_magic.py
  normcap/ocr/magics/url_magic.py
  normcap/ocr/models.py
  normcap/ocr/tesseract.py
  normcap/resources/tessdata/README.txt
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_shell.py
  normcap/screengrab/utils.py
  normcap/utils.py
  tests/tests_clipboard/test_qt.py
  tests/tests_gui/test_clipboard.py
  tests/tests_gui/test_constants.py
  tests/tests_gui/test_tray.py
  tests/tests_gui/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: fix ruff issues
  .github/workflows/python.yaml
  normcap/gui/downloader.py
  normcap/gui/settings.py
  normcap/gui/tray.py
  normcap/gui/window.py
  normcap/ocr/magics/magic.py
  normcap/ocr/tesseract.py
  normcap/screengrab/utils.py
  tests/conftest.py
  tests/tests_gui/test_tray.py
  tests/tests_screengrab/test_dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps

test: refactor ocr tests
  tests/integration/testcases/ocr_test_1.png
  tests/tests_ocr/test_recognize.py
  tests/tests_ocr/testcases/__init__.py
  tests/tests_ocr/testcases/data.py
Due: black, ruff, mypy, pytest, pydeps

chore: fail fast on pre-commit hooks
  .pre-commit-config.yaml
Due: none

feat: add cli flag to allow multiple instances
  normcap/gui/tray.py
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

fix(ocr): improve email magic accuracy
  normcap/ocr/magics/email_magic.py
  tests/tests_ocr/test_email_magic.py
Due: black, ruff, mypy, pytest, pydeps

test: refactor test cases
  tests/integration/test_normcap.py
  tests/integration/testcases/__init__.py
  tests/integration/testcases/data.py
Due: black, ruff, mypy, pytest, pydeps

test: enable all integration test
  .github/workflows/python.yaml
  normcap/gui/tray.py
  tests/integration/test_normcap.py
Due: black, ruff, mypy, pytest, pydeps

test: small refactorings
  tests/test_utils.py
  tests/tests_gui/test_clipboard.py
  tests/tests_gui/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

fix: some args getting parsed wrong
  normcap/gui/settings.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove unnecessary multi-instance flag
  normcap/gui/tray.py
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: use explicit args for settings
  normcap/gui/downloader.py
  normcap/gui/settings.py
  normcap/gui/tray.py
  tests/test_utils.py
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_settings.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: use appropriate timeouts when testing downloader
  normcap/gui/settings.py
  normcap/gui/tray.py
  tests/test_utils.py
  tests/tests_gui/test_settings.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: use explicit args for settings
  normcap/gui/settings.py
  normcap/gui/tray.py
  tests/test_utils.py
  tests/tests_gui/test_settings.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

chore(gui): small refactorings
  normcap/gui/downloader.py
  normcap/gui/language_manager.py
  normcap/gui/tray.py
  tests/tests_gui/test_language_manager.py
Due: black, ruff, mypy, pytest, pydeps

Revert "chore: use appropriate timeouts when testing downloader"
  normcap/gui/settings.py
  normcap/gui/tray.py
  tests/test_utils.py
  tests/tests_gui/test_settings.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

Revert "chore: use explicit args for settings"
  normcap/gui/downloader.py
  normcap/gui/settings.py
  normcap/gui/tray.py
  tests/test_utils.py
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_settings.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

test: combine context managers into one
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps

chore: poetry update
  poetry.lock
Due: none

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
