Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

feat: add language managment ui (non-functional)
  src/normcap/gui/constants.py
  src/normcap/gui/languages.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
Due: black, ruff, mypy, pytest, pydeps

feat: make downloader unblocking by moving to different thread
  CHANGELOG.md
  src/normcap/gui/downloader.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

feat: deny removal of last language
  src/normcap/gui/languages.py
Due: black, ruff, mypy, pytest, pydeps

feat: return download failed reason
  src/normcap/gui/downloader.py
  src/tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps

refactor: rename language manager window
  src/normcap/gui/language_manager.py
  src/normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

feat: initial working version of language downloader
  CHANGELOG.md
  src/normcap/gui/constants.py
  src/normcap/gui/languages.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/tray.py
  src/normcap/resources/tessdata/README.txt
  src/normcap/screengrab/dbus_portal.py
  src/normcap/utils.py
  src/tests/tests_gui/test_constants.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

feat: ensure sane language settings upon language removal
  src/normcap/gui/languages.py
  src/normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: adjust tessdata description files
  .gitignore
  src/normcap/resources/tessdata/LICENSE.txt
  src/normcap/resources/tessdata/README.txt
  src/normcap/resources/tessdata/add_more_languages.txt
  src/tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

feat: handle failed language downloads
  src/normcap/gui/languages.py
Due: black, ruff, mypy, pytest, pydeps

refactor: pull languages out of menu button
  src/normcap/gui/menu_button.py
  src/normcap/gui/window.py
Due: black, ruff, mypy, pytest, pydeps

feat: add loading indicator to language manager
  src/normcap/gui/languages.py
Due: black, ruff, mypy, pytest, pydeps

chore: move package includes into pyproject.toml
  MANIFEST.in
  pyproject.toml
Due: none

refactor: remove normcap.version from screengrab
  src/normcap/ocr/models.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/utils.py
  src/tests/conftest.py
  src/tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

refactor: remove normcap.version from gui and delete module
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/version.py
  src/tests/test_app.py
  src/tests/test_version.py
  src/tests/tests_gui/test_update_check.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove parsing gnome version from xml, as it is deprecated
  src/normcap/screengrab/utils.py
  src/tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

refactor: replace gnome version in system_info with logging output
  src/normcap/gui/system_info.py
  src/normcap/screengrab/utils.py
  src/tests/tests_gui/test_system_info.py
Due: black, ruff, mypy, pytest, pydeps

refactor: avoid model dependency in utils exception hook
  src/normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: poetry update; remove deprecated section in pyproject
  poetry.lock
  pyproject.toml
Due: none

chore: remove sonar because it was of little use in the past
  .github/workflows/python.yaml
  README.md
  sonar-project.properties
Due: mdformat

chore: complement type annotations in packaging files
  package/platforms/linux_briefcase.py
  package/platforms/linux_nuitka.py
  package/platforms/macos_briefcase.py
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

chore: rename package to bundle
  .github/workflows/python.yaml
  .gitignore
  .pre-commit-config.yaml
  bundle/build.py
  bundle/imgs/normcap-128.png
  bundle/imgs/normcap-16.png
  bundle/imgs/normcap-256.png
  bundle/imgs/normcap-32.png
  bundle/imgs/normcap-512.png
  bundle/imgs/normcap-64.png
  bundle/imgs/normcap.icns
  bundle/imgs/normcap.ico
  bundle/imgs/normcap.svg
  bundle/imgs/normcap_install.bmp
  bundle/imgs/normcap_install.icns
  bundle/imgs/normcap_install.png
  bundle/imgs/normcap_install_bg.bmp
  bundle/imgs/normcap_install_bg.png
  bundle/imgs/normcap_install_top.bmp
  bundle/metainfo
  bundle/normcap.wxs
  bundle/platforms/__init__.py
  bundle/platforms/linux_briefcase.py
  bundle/platforms/linux_nuitka.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/macos_nuitka.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  bundle/platforms/windows_nuitka.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

chore: adjust string repr of Rect to commonly used order
  normcap/gui/models.py
Due: black, ruff, mypy, pytest, pydeps

fix: calculation of screen coordinates
  normcap/gui/system_info.py
Due: black, ruff, mypy, pytest, pydeps

chore: rename screen geometry to screen rect
  normcap/gui/models.py
  normcap/gui/system_info.py
  normcap/gui/window.py
  tests/tests_gui/test_models.py
Due: black, ruff, mypy, pytest, pydeps

chore: use correct type hints
  normcap/gui/utils.py
  normcap/gui/window.py
Due: black, ruff, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
