Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pylint, mypy, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry: poetry run pytest src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

Fix menu style and position
  src/normcap/gui/settings_menu.py
  src/normcap/resources/base_window.ui
  src/normcap/window_base_ui.py
  src/normcap/window_main.py
Due: isort, black, pylint, mypy, pytest

Add check for updates
  src/normcap/update.py
  src/normcap/window_base.py
  src/normcap/window_main.py
Due: isort, black, pylint, mypy, pytest

Improve settings menu; Improve settings
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/resources/base_window.ui
  src/normcap/screengrab.py
  src/normcap/window_base.py
  src/normcap/window_base_ui.py
  src/normcap/window_main.py
Due: isort, black, pylint, mypy, pytest

Remove some info
  FAQ.md
  README.md
Due: mdformat

Add entry in changelog
  CHANGELOG.md
Due: mdformat

Fix tempfile permission error in test on windows
  src/tests/test_persisted_config.py
Due: isort, black, pylint, mypy, pytest

Add missing dependency
  poetry.lock
  pyproject.toml
Due: none

Fix syntax for checking updates
  src/normcap/update.py
Due: isort, black, pylint, mypy, pytest

Add test for retrieving version info
  src/tests/test_update.py
Due: isort, black, pylint, mypy, pytest

Check for update in different thread
  CHANGELOG.md
  pyproject.toml
  src/normcap/gui/settings_menu.py
  src/normcap/resources/base_window.ui
  src/normcap/window_base.py
  src/normcap/window_base_ui.py
  src/normcap/window_main.py
Due: mdformat, isort, black, pylint, mypy, pytest

Switch to html to avoid api limits
  src/normcap/update.py
Due: isort, black, pylint, mypy, pytest

Update cli args
  README.md
  src/normcap/args.py
Due: mdformat, isort, black, pylint, mypy, pytest

Switch to icon for settings
  assets/icons/settings.svg
  src/normcap/gui/settings_menu.py
  src/normcap/resources/base_window.ui
  src/normcap/resources/settings.png
  src/normcap/window_base_ui.py
Due: isort, black, pylint, mypy, pytest

Improve styling of settings menu; Bump version; Update docs
  CHANGELOG.md
  FAQ.md
  README.md
  pyproject.toml
  src/normcap/gui/settings_menu.py
Due: mdformat, isort, black, pylint, mypy, pytest

Add additional tests
  .github/workflows/test.yaml
  assets/screencast/demo.jpg
  assets/screenshot.png
  pyproject.toml
  src/normcap/clipboard.py
  src/normcap/models.py
  src/normcap/screengrab.py
  src/tests/fixtures.py
  src/tests/test_app.py
  src/tests/test_args.py
  src/tests/test_clipboard.py
  src/tests/test_logger.py
  src/tests/test_models.py
  src/tests/test_persisted_config.py
  src/tests/test_update.py
  src/tests/test_url_magic.py
  src/tests/test_utils.py
Due: isort, black, pylint, mypy, pytest

Improve settings structure
  CHANGELOG.md
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/resources/base_window.ui
  src/normcap/screengrab.py
  src/normcap/utils.py
  src/normcap/window_base_ui.py
  src/normcap/window_main.py
  src/tests/test_models.py
Due: mdformat, isort, black, pylint, mypy, pytest

Add japanese languages
  build.py
Due: isort, black, pylint, mypy, pytest

Streamline configuration
  src/normcap/app.py
  src/normcap/models.py
  src/tests/fixtures.py
  src/tests/test_models.py
Due: isort, black, pylint, mypy, pytest

Bump version
  CHANGELOG.md
  pyproject.toml
Due: mdformat

Make window less transparent to avoid clickthrough
  src/normcap/window_base.py
Due: isort, black, pylint, mypy, pytest

Fix typo
  src/normcap/app.py
Due: isort, black, pylint, mypy, pytest

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update jeepney api
  src/normcap/screengrab.py
  src/normcap/utils.py
Due: isort, black, pylint, mypy, pytest

Catch importerror of urllib; Fix Linter issues
  src/normcap/logger.py
  src/normcap/update.py
  src/normcap/window_main.py
  src/tests/test_clipboard.py
Due: isort, black, pylint, mypy, pytest

Extend changelog
  CHANGELOG.md
Due: mdformat

Add border to settings icon
  assets/icons/settings.svg
  src/normcap/gui/settings_menu.py
  src/normcap/resources/settings.png
Due: isort, black, pylint, mypy, pytest

Consolidate URLs
  src/normcap/gui/settings_menu.py
  src/normcap/models.py
Due: isort, black, pylint, mypy, pytest

Use Qt for update check
  src/normcap/update.py
  src/normcap/update_check.py
  src/normcap/window_main.py
  src/tests/test_update.py
Due: isort, black, pylint, mypy, pytest

Improve fullscreen on linux
  src/normcap/window_base.py
  src/normcap/window_base_ui.py
Due: isort, black, pylint, mypy, pytest

Allow easy test builds through ci/cd
  .github/workflows/build.yaml
Due: none

Introduce pytest-qt and xvfb
  .github/workflows/test.yaml
  poetry.lock
  pyproject.toml
Due: none

Snake case signals
  src/normcap/gui/settings_menu.py
  src/normcap/update_check.py
  src/normcap/utils.py
  src/normcap/window_base.py
  src/normcap/window_main.py
  src/tests/test_update.py
Due: isort, black, pylint, mypy, pytest

Improve logging of qt messages
  src/normcap/models.py
  src/normcap/utils.py
Due: isort, black, pylint, mypy, pytest

Streamline docs
  CHANGELOG.md
  FAQ.md
  README.md
Due: mdformat

Restructure small things
  src/normcap/gui/settings_menu.py
  src/normcap/utils.py
Due: isort, black, pylint, mypy, pytest

Switch to QSettings
  FAQ.md
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/settings_menu.py
  src/normcap/models.py
  src/normcap/settings.py
  src/normcap/utils.py
  src/normcap/window_base.py
  src/normcap/window_main.py
  src/tests/test_args.py
  src/tests/test_models.py
Due: mdformat, isort, black, pylint, mypy, pytest

Restructure gui files
  src/normcap/app.py
  src/normcap/gui/settings.py
  src/normcap/window_main.py
  src/tests/test_args.py
Due: isort, black, pylint, mypy, pytest

Refactor qt objects
  src/normcap/gui/system_tray.py
  src/normcap/qt/__init__.py
  src/normcap/qt/downloader.py
  src/normcap/qt/settings.py
  src/normcap/qt/settings_menu.py
  src/normcap/qt/system_tray.py
  src/normcap/qt/update_check.py
  src/normcap/update_check.py
  src/normcap/window_main.py
  src/tests/test_args.py
  src/tests/test_downloader.py
  src/tests/test_update.py
  src/tests/test_update_check.py
Due: isort, black, pylint, mypy, pytest

Simplify window setup [build]
  src/normcap/app.py
  src/normcap/gui/__init__.py
  src/normcap/gui/base_window.py
  src/normcap/gui/downloader.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/gui/update_check.py
  src/normcap/window_base_ui.py
  src/tests/test_args.py
  src/tests/test_downloader.py
  src/tests/test_update_check.py
Due: isort, black, pylint, mypy, pytest

Remove delay after copy to clipboard; Use signal instead [build]
  src/normcap/gui/main_window.py
  src/normcap/gui/settings.py
  src/normcap/logger.py
  src/normcap/models.py
  src/tests/test_models.py
Due: isort, black, pylint, mypy, pytest
