Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest --log-cli-level=10 src/tests/ --cov normcap
          --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=1 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Restructure modules
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/base_window.py
  src/normcap/gui/constants.py
  src/normcap/gui/main_window.py
  src/normcap/gui/models.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/ocr/enhance.py
  src/normcap/ocr/recognize.py
  src/normcap/screengrab/utils.py
  src/tests/fixtures.py
  src/tests/test_app.py
  src/tests/test_models.py
  src/tests/test_system_info.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Use pillow for ocr
  .pre-commit-config.yaml
  src/normcap/gui/main_window.py
  src/normcap/ocr/enhance.py
  src/normcap/ocr/recognize.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Use pillow for ocr
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/normcap/screengrab/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Switch from jeepney to qt
  src/normcap/app.py
  src/normcap/gui/utils.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

-n
  .github/workflows/python.yaml
  README.md
  build.py
  docs/index.html
  poetry.lock
  src/normcap/gui/utils.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
  src/tests/fixtures.py
  src/tests/integration/__init__.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/__init__.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
  src/tests/test_app.py
  src/tests/test_downloader.py
  src/tests/test_models.py
  src/tests/test_system_info.py
  src/tests/test_update_check.py
  src/tests/test_utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

-n
  .github/workflows/python.yaml
  README.md
  build.py
  docs/index.html
  poetry.lock
  src/normcap/gui/utils.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
  src/tests/fixtures.py
  src/tests/integration/__init__.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/__init__.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
  src/tests/test_app.py
  src/tests/tests_gui/__init__.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_gui/test_update_check.py
  src/tests/tests_gui/test_utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Testbuilds on dev
  .github/workflows/python.yaml
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix screengrab portal bug; Refresh screenshot; Streamline logging
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/utils.py
  src/normcap/ocr/enhance.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix screengrab portal bug; Refresh screenshot; Streamline logging (#175)
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/utils.py
  src/normcap/ocr/enhance.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix image not filling background
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/models.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/tests/integration/test_normcap.py
  src/tests/tests_gui/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix image not filling background (#176)
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/models.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/tests/integration/test_normcap.py
  src/tests/tests_gui/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Small fixes
  CHANGELOG.md
  pyproject.toml
  src/normcap/gui/settings.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.0-beta
  CHANGELOG.md
  README.md
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix versioning
  build.py
  pyproject.toml
  src/normcap/gui/base_window.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/tests/test_app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump version; Adust OEM (#177)
  CHANGELOG.md
  README.md
  build.py
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
  src/normcap/gui/base_window.py
  src/normcap/gui/settings.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/tests/test_app.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Don't build test packages if develop packages are build
  .github/workflows/python.yaml
Due: none

Set prerelease based on version
  .github/workflows/python.yaml
Due: none

Patch Info.plist; Add tesseract binary
  build.py
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Set prerelease based on version (#180)
  .github/workflows/python.yaml
  build.py
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update readme and docs
  README.md
  docs/index.html
Due: mdformat

Use icons for mode indicator
  assets/icons/parse.svg
  assets/icons/raw.svg
  src/normcap/gui/base_window.py
  src/normcap/resources/parse.svg
  src/normcap/resources/raw.svg
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Quit on last window closed
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove macos helper window
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update screenshot in window on re-show
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify some things
  .github/workflows/python.yaml
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Delay screenshot to let the tray menu close
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update readme
  README.md
  src/normcap/gui/update_check.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix MacOS linked libs
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix html issues; Extend docu
  docs/index.html
Due: none

Adjust mode indicator position
  src/normcap/gui/base_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix wrong type for language, in case every language gets deselected
  src/normcap/gui/settings_menu.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Switch to smaller traineddata fast
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix log level checking
  src/normcap/gui/base_window.py
  src/normcap/gui/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps
  poetry.lock
Due: none

Reorder dynlibs in build
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps
