Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort --jobs=0 src/normcap src/tests/ package/

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

pydocstyle:
  name: pydocstyle
  stages:
  - commit
  language: system
  entry: poetry run pydocstyle src/normcap src/tests/ package/
  pass_filenames: false

bandit:
  name: bandit
  stages:
  - commit
  language: system
  entry: poetry run bandit --quiet --severity-level medium -r src/normcap
  pass_filenames: false

safety:
  name: safety
  stages:
  - commit
  language: system
  entry: poetry run safety check
  pass_filenames: false

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: poetry run pylint src/normcap src/tests package/
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest --log-cli-level=10 src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

Update nuitka
  poetry.lock
  pyproject.toml
Due: none

Revert to using non-preview poetry
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

Rename nuitka builds to experimental
  package/platforms/__init__.py
  package/platforms/linux_briefcase.py
  package/platforms/linux_nuitka.py
  package/platforms/macos_briefcase.py
  package/platforms/macos_nuitka.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix builds
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
  poetry.lock
  pyproject.toml
  src/normcap/ocr/enhance.py
  src/tests/conftest.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update changelog
  CHANGELOG.md
  package/platforms/windows_nuitka.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Migrate to MacOS-11 runner
  .github/workflows/python.yaml
  docs/index.html
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove accidentially commited file
  script.js
Due: none

Add textinator as alternative
  CHANGELOG.md
  README.md
  docs/index.html
  src/normcap/ocr/magics/base_magic.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add build-essentials to ubuntu requirements
  README.md
  docs/index.html
Due: mdformat

Fix tesseract bin resolution on MacOS
  src/normcap/gui/system_info.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix tbump's path to wxs
  pyproject.toml
Due: none

Bump to 0.3.5
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Downgrade dbus error to warning
  src/normcap/gui/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Reference flathub download
  README.md
Due: mdformat

Add AUR and FlatHub as install option to docs
  docs/index.html
Due: none

Mention flathub in changelog
  CHANGELOG.md
Due: mdformat

Add 5s delay before exit
  CHANGELOG.md
  src/normcap/gui/tray.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Hide windows after selecting a region to not block users
  CHANGELOG.md
  src/normcap/gui/tray.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Hide windows after selecting a region to not block users
  CHANGELOG.md
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/utils.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_screengrab/test_utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update changelog
  CHANGELOG.md
Due: mdformat

Bump to 0.3.6
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add screenshots for flathub page
  assets/screencast/Quotes.md
  assets/screenshot-1.png
  assets/screenshot-2.png
  assets/screenshot-3.png
  assets/screenshot-4.png
Due: mdformat

Annotate screenshots
  assets/screenshot-1.png
  assets/screenshot-2.png
  assets/screenshot-3.png
  assets/screenshot-4.png
Due: none

Fix crash during gnome version detection, fixes #235; Add related unit test
  CHANGELOG.md
  src/normcap/gui/system_info.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/utils.py
  src/tests/tests_screengrab/test_utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Bump to 0.3.7
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Build pillow from source
  pyproject.toml
Due: none

Add architecture to dmg file name #242
  README.md
  docs/index.html
  package/platforms/macos_briefcase.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Trim more potentially unused packages from AppImage #238
  package/platforms/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add pyupgrade to pre-commit hook
  .pre-commit-config.yaml
  package/platforms/utils.py
  poetry.lock
  pyproject.toml
  src/normcap/gui/utils.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/utils.py
  src/tests/conftest.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update deps
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: mdformat

Add build-essentials to ubuntu requirements
  pyproject.toml
Due: none

Add autoflake
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/normcap/gui/tray.py
  src/normcap/screengrab/dbus_portal.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Select clipboard methods based on system; Support wl-clipboard
  src/normcap/clipboard/__init__.py
  src/normcap/clipboard/qt.py
  src/normcap/clipboard/wl_clipboard.py
  src/normcap/gui/tray.py
  src/normcap/gui/utils.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Build and use wl-copy
  .gitignore
  package/platforms/linux_briefcase.py
  poetry.lock
  pyproject.toml
  src/normcap/resources/wl-copy/.keep
  src/normcap/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix appimage build
  CHANGELOG.md
  README.md
  docs/index.html
  package/platforms/linux_briefcase.py
  package/platforms/macos_nuitka.py
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  package/platforms/windows_nuitka.py
  poetry.lock
  pyproject.toml
  src/normcap/clipboard/wl_clipboard.py
  src/normcap/resources/wl-copy/.keep
  src/normcap/utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Typos, docu, changelog
  .github/workflows/python.yaml
  CHANGELOG.md
  README.md
  adr/001-choose-transparent-windows-as-main-gui.md
  adr/002-choose-windows-with-screenshots-as-main-gui.md
  adr/003-use-system-tray-as-main-application.md
  docs/.prettierrc.yaml
  docs/index.html
  package/platforms/macos_briefcase.py
  package/platforms/macos_nuitka.py
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/qt.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  isort: any of: \.py$
  black: any of: \.py$
  pydocstyle: any of: \.py$
  bandit: any of: \.py$
  safety: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
