Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

Disable pytest in commit hook (too slow)
  .pre-commit-config.yaml
Due: none

Initial version of setup.py
  setup.py
Due: black, mypy, pytest, pytest-cov

Introduce bumpversion
  .coverage
  Pipfile
  Pipfile.lock
  normcap/__init__.py
  setup.cfg
Due: black, flake8, mypy, pytest, pytest-cov

Adjust file
  setup.cfg
Due: none

Enable bumpversion
  setup.cfg
Due: none

Adjust version
  normcap/__init__.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Add platform dependend tesserocr
  setup.py
Due: black, mypy, pytest, pytest-cov

Reorg to ease quickstart
  README.md
Due: none

Lint error
  README.md
Due: none

Remove unnecessary pylint configs
  .pylintrc
  setup.cfg
Due: none

Add bg to icon; Add icon src
  ressource/normcap.ico
  ressource/normcap.svg
Due: none

Test different git urls
  setup.py
Due: black, mypy, pytest, pytest-cov

Try different git url
  setup.py
Due: black, mypy, pytest, pytest-cov

Try using postinstall for tesserocr
  setup.py
Due: black, mypy, pytest, pytest-cov

Syntax
  setup.py
Due: black, mypy, pytest, pytest-cov

syntax
  setup.py
Due: black, mypy, pytest, pytest-cov

Missing import
  setup.py
Due: black, mypy, pytest, pytest-cov

Test install run
  setup.py
Due: black, mypy, pytest, pytest-cov

Syntax to new pip
  setup.py
Due: black, mypy, pytest, pytest-cov

Update setup.py
  setup.py
Due: black, mypy, pytest, pytest-cov

Switch to call pip in subprocess
  setup.py
Due: black, mypy, pytest, pytest-cov

Add pacakge
  setup.py
Due: black, mypy, pytest, pytest-cov

Fix urls
  setup.py
Due: black, mypy, pytest, pytest-cov

Add (temp) trusted host
  setup.py
Due: black, mypy, pytest, pytest-cov

Adjust trusted host
  setup.py
Due: black, mypy, pytest, pytest-cov

Adjust debug prints
  setup.py
Due: black, mypy, pytest, pytest-cov

Formatting
  setup.py
Due: black, mypy, pytest, pytest-cov

Adjust install
  README.md
Due: none

Adjust dependency handling
  README.md
  setup.py
Due: black, mypy, pytest, pytest-cov

New test for dep install
  setup.py
Due: black, mypy, pytest, pytest-cov

Typo
  setup.py
Due: black, mypy, pytest, pytest-cov

Create pythonapp.yml
  .github/workflows/pythonapp.yml
Due: none

Switch to pipenv
  .github/workflows/pythonapp.yml
Due: none

Fix typo in command
  .github/workflows/pythonapp.yml
Due: none

Install pipenv using sudo
  .github/workflows/pythonapp.yml
Due: none

Install system deps; Minimize output of Pipenv
  .github/workflows/pythonapp.yml
Due: none

Try to fix tk import fails
  .github/workflows/pythonapp.yml
Due: none

Adjust tk version
  .github/workflows/pythonapp.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
