Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict -r <(poetry export -f
          requirements.txt --with dev | sed 's/\[.*\]//g' | sed -z 's/\n\W//g' |
          uniq )"
        # First `sed` removes potential "[<extra>]" after package names
        # Second `sed` removes "\n" in front of "--hash" to get one line per package
        # Final `uniq` is the used to de-duplicated those lines
        pass_filenames: false

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

test: add test for TessArgs
  tests/tests_ocr/test_models.py
Due: black, ruff, mypy, pytest, pydeps

test: add test for property in Rect
  tests/tests_gui/test_models.py
Due: black, ruff, mypy, pytest, pydeps

test: cover all cases in copy traineddata
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: update dependencies; update docstrings to new ruff rule
  .pre-commit-config.yaml
  bundle/platforms/linux_briefcase.py
  bundle/platforms/linux_nuitka.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/macos_nuitka.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  bundle/platforms/windows_nuitka.py
  normcap/__main__.py
  normcap/app.py
  normcap/clipboard/windows.py
  normcap/gui/downloader.py
  normcap/gui/loading_indicator.py
  normcap/gui/notifier.py
  normcap/gui/settings.py
  normcap/gui/update_check.py
  normcap/gui/window.py
  normcap/ocr/magics/base_magic.py
  normcap/ocr/magics/magic.py
  normcap/ocr/models.py
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_portal_legacy.py
  normcap/screengrab/qt.py
  poetry.lock
Due: black, ruff, mypy, pytest, pydeps

test: add test for ocr enhance module
  tests/tests_ocr/test_enhance.py
  tests/tests_ocr/testimages/color.png
  tests/tests_ocr/testimages/dark.png
  tests/tests_ocr/testimages/light.png
Due: black, ruff, mypy, pytest, pydeps

test: add test for notifier
  normcap/gui/notifier.py
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps

fix: use correct path to normcap icon
  normcap/gui/notifier.py
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps

fix: update language menu on change
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

fix: sanatize active language on startup #353
  normcap/gui/tray.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: make init_settings arg optional
  normcap/gui/settings.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove deprecated comments; remove unnecessary class method
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

docs: update changelog
  CHANGELOG.md
Due: mdformat

build: make sure to include svg icons
  pyproject.toml
Due: none

docs: add project links for pypi
  pyproject.toml
Due: none

fix: close language manager on link click
  normcap/gui/language_manager.py
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: restructure language manager module
  normcap/gui/language_manager.py
  normcap/gui/loading_indicator.py
Due: black, ruff, mypy, pytest, pydeps

docs: typo
  normcap/resources/tessdata/README.txt
Due: none

fix: path to icons for briefcase
  pyproject.toml
Due: none

fix: use png icons in resources instead of svg
  bundle/imgs/normcap_install.svg
  bundle/imgs/normcap_install_bg.svg
  normcap/gui/notifier.py
  normcap/gui/resources.py
  normcap/resources/icons/normcap.png
  normcap/resources/icons/notification.png
  normcap/resources/icons/notification.svg
  normcap/resources/icons/parse.png
  normcap/resources/icons/raw.png
  normcap/resources/icons/raw.svg
  normcap/resources/icons/resources.qrc
  normcap/resources/icons/settings.png
  normcap/resources/icons/settings.svg
  normcap/resources/icons/tray.png
  normcap/resources/icons/tray.svg
  normcap/screengrab/dbus_portal.py
  tests/tests_gui/test_resources.py
Due: black, ruff, mypy, pytest, pydeps

fix: use exec to start language manager and reset focus to window afterwards
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

fix: append binary dir to PATH to make wl-copy discoverable
  normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps
