Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort --jobs=0 src/normcap src/tests/ package/

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

pydocstyle:
  name: pydocstyle
  stages:
  - commit
  language: system
  entry: poetry run pydocstyle src/normcap src/tests/ package/
  pass_filenames: false

bandit:
  name: bandit
  stages:
  - commit
  language: system
  entry: poetry run bandit --quiet --severity-level medium -r src/normcap
  pass_filenames: false

safety:
  name: safety
  stages:
  - commit
  language: system
  entry: poetry run safety check
  pass_filenames: false

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: poetry run pylint src/normcap src/tests package/
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest --log-cli-level=10 src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

Fix path for windows build
  package/platforms/windows_briefcase.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Adjust date
  CHANGELOG.md
Due: mdformat

Bump to 0.3.8
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add forgotten thx
  CHANGELOG.md
Due: mdformat

Log to file with windows pre-build package
  .gitignore
  docs/index.html
  package/platforms/utils.py
  src/normcap/app.py
  src/normcap/gui/window.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Improve logging on windows
  docs/index.html
  src/normcap/app.py
  src/normcap/utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix clipboard issues on windows and macos
  CHANGELOG.md
  src/normcap/clipboard/__init__.py
  src/normcap/clipboard/linux.py
  src/normcap/clipboard/macos.py
  src/normcap/clipboard/windows.py
  src/normcap/clipboard/wl_clipboard.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use urllib for downloads
  CHANGELOG.md
  src/normcap/gui/downloader_urllib.py
  src/normcap/gui/update_check.py
  src/tests/conftest.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add ssl certificates
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/normcap/gui/downloader_urllib.py
  src/normcap/gui/notifier.py
  src/normcap/utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Bump to 0.3.9
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Introduce tessdata config folder for flatpak #239
  CHANGELOG.md
  src/normcap/app.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/normcap/utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Define testcases as parameter
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add backwards compatibility of to pillow < 9.2.0
  CHANGELOG.md
  src/normcap/ocr/enhance.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Bump to 0.3.10
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix removal of superfluous spaces; Add recognition tests
  .github/workflows/python.yaml
  CHANGELOG.md
  src/normcap/ocr/magics/magic.py
  src/normcap/ocr/magics/paragraph_magic.py
  src/tests/tests_ocr/test_recognize.py
  src/tests/tests_ocr/testcases/00_eng.png
  src/tests/tests_ocr/testcases/01_chi_sim.png
  src/tests/tests_ocr/testcases/02_jpn.png
  src/tests/tests_ocr/testcases/__init__.py
  src/tests/tests_ocr/testcases/data.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Run libnotify command dettached to avoid kde bar freezing in some distros
  src/normcap/gui/notifier.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove accidentially global DEBUG loglevel
  CHANGELOG.md
  src/normcap/gui/notifier.py
  src/normcap/utils.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Bump to 0.3.11
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Simplify cicd action
  .github/workflows/python.yaml
Due: none

Remove black border size of tray icon
  assets/icons/tray.svg
  src/normcap/resources/tray.png
Due: none

Update deps
  poetry.lock
Due: none

Change icon on OCR completed
  src/normcap/gui/tray.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove superflous pylint disables
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add changelog entry
  CHANGELOG.md
Due: mdformat

Feature/change tray icon color on ocr done (#265)
  .github/workflows/python.yaml
  CHANGELOG.md
  assets/icons/tray.svg
  poetry.lock
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/resources/tray.png
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix multi monitor support on Linux with wayland
  CHANGELOG.md
  src/normcap/gui/tray.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

New feature images
  assets/features/offline.svg
  docs/img/main.jpg
  docs/img/offline.png
  docs/img/opensource.png
  docs/img/transforms.png
  docs/img/tray.png
  docs/style.css
Due: none

Update deps
  CHANGELOG.md
  poetry.lock
Due: mdformat

Bump to 0.3.12
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix link to faq
  README.md
Due: mdformat

Add FAQ regarding empty desktop on macOS
  docs/index.html
  src/normcap/gui/notifier.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix macOS debug command
  docs/index.html
Due: none

Fix date in changelog
  CHANGELOG.md
Due: mdformat

Add setting to store normcap version
  poetry.lock
  src/normcap/gui/constants.py
  src/normcap/gui/models.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove unnecessary global
  src/normcap/clipboard/windows.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add support for MacOS screen recording permissions; Some refactoring
  src/normcap/gui/tray.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/qt.py
  src/normcap/screengrab/utils.py
  src/tests/tests_screengrab/test_utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix failing tests
  src/normcap/screengrab/utils.py
  src/tests/integration/test_normcap.py
  src/tests/tests_screengrab/test_utils.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Refactore clipboard
  src/normcap/clipboard/__init__.py
  src/normcap/clipboard/linux.py
  src/normcap/clipboard/macos.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/update_check.py
  src/tests/test_enhance.py.old
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add missing typehints
  src/normcap/clipboard/linux.py
  src/normcap/clipboard/macos.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/tray.py
  src/normcap/screengrab/utils.py
  src/tests/test_utils.py
  src/tests/tests_clipboard/test_linux.py
Due: isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  isort: any of: \.py$
  black: any of: \.py$
  pydocstyle: any of: \.py$
  bandit: any of: \.py$
  safety: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
