Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

chore: print test durations
  pyproject.toml
Due: none

fix: use exec to start language manager and reset focus to window afterwards
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

fix: append binary dir to PATH to make wl-copy discoverable
  normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps

docs: update included languages and required poetry version
  README.md
  docs/.prettierrc.yaml
  docs/index.html
Due: mdformat

chore: update dependencies
  poetry.lock
Due: none

docs: update date in changelog
  CHANGELOG.md
Due: mdformat

chore: remove briefcase as build require because it's not needed
  pyproject.toml
Due: none

chore: improve debug output
  normcap/clipboard/linux.py
  normcap/clipboard/macos.py
  normcap/clipboard/windows.py
  normcap/gui/notifier.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/gui/window.py
  normcap/ocr/enhance.py
  normcap/ocr/magics/email_magic.py
  normcap/ocr/magics/magic.py
  normcap/ocr/magics/url_magic.py
  normcap/ocr/recognize.py
  normcap/screengrab/__init__.py
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_portal_legacy.py
  normcap/screengrab/dbus_shell.py
  normcap/screengrab/qt.py
Due: black, ruff, mypy, pytest, pydeps

chore: rename OcrResult property
  normcap/ocr/magics/magic.py
  normcap/ocr/models.py
  normcap/ocr/recognize.py
  normcap/utils.py
  tests/conftest.py
  tests/test_utils.py
  tests/tests_ocr/test_recognize.py
Due: black, ruff, mypy, pytest, pydeps

chore: reduce test time
  .pre-commit-config.yaml
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_update_check.py
Due: black, ruff, mypy, pytest, pydeps

chore: update dependencies; add line to changelog
  CHANGELOG.md
  poetry.lock
Due: mdformat

fix: ruff finding; improve gnome version detection
  normcap/screengrab/utils.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

fix: revert last poetry update which caused build issues
  poetry.lock
Due: none

docs: adjust appimage filesize
  docs/index.html
Due: none

chore: bump version
  README.md
  bundle/normcap.wxs
  docs/index.html
  normcap/__init__.py
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: update actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: mdformat

build: rename package file for M1 to include arm64
  bundle/platforms/macos_briefcase.py
Due: black, ruff, mypy, pytest, pydeps

docs: rename download links
  docs/index.html
Due: none

docs: add tipps for improving quality
  assets/selections/selection_1.svg
  assets/selections/selection_2.svg
  assets/selections/selections_2.png
  docs/img/selections_1.png
  docs/img/selections_2.png
  docs/index.html
Due: none

docs: add links to app store
  README.md
  docs/index.html
Due: mdformat

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: apply new ruff formatting
  normcap/clipboard/linux.py
  normcap/clipboard/windows.py
  normcap/gui/settings.py
  normcap/gui/tray.py
  normcap/ocr/recognize.py
  normcap/screengrab/__init__.py
  normcap/screengrab/dbus_portal.py
  tests/integration/test_normcap.py
  tests/test_utils.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
