Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict -r <(poetry export -f
          requirements.txt --with dev | sed 's/\[.*\]//g' | sed -z 's/\n\W//g' |
          uniq )"
        # First `sed` removes potential "[<extra>]" after package names
        # Second `sed` removes "\n" in front of "--hash" to get one line per package
        # Final `uniq` is the used to de-duplicated those lines
        pass_filenames: false

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

chore: ignore some ruff warnings
  bundle/platforms/utils.py
  normcap/clipboard/macos.py
  normcap/gui/notifier.py
  normcap/ocr/tesseract.py
  normcap/screengrab/utils.py
  tests/tests_clipboard/test_linux.py
  tests/tests_clipboard/test_macos.py
  tests/tests_clipboard/test_windows.py
Due: black, ruff, mypy, pytest, pydeps

ci: add software properties for apt-add-repository
  pyproject.toml
Due: none

WIP
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps

ci: build windows app using visualstudio template
  bundle/platforms/macos_briefcase.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps

chore: update briefcase and other deps
  poetry.lock
  pyproject.toml
Due: none

fix: improve robustness against parsing non UTF-8 bytes #424
  normcap/gui/tray.py
  normcap/gui/update_check.py
  normcap/ocr/tesseract.py
  normcap/screengrab/utils.py
  tests/tests_ocr/test_tesseract.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

docs: update command for debug log on windows
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.html
Due: none

docs: add section about keyboard shortcuts to faqs #422
  docs/index.html
Due: none

fix: add libcrypt to appimage docker
  bundle/platforms/linux_briefcase.py
  docs/index.html
  normcap/ocr/tesseract.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

ci: fix appimage create command
  bundle/platforms/linux_briefcase.py
Due: black, ruff, mypy, pytest, pydeps

fix: typo in attribute used to hide terminal window on win32
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps

docs: add faq entry about missing libcrypt error
  docs/index.html
Due: none

fix: menu doesn't open on second click
  docs/index.html
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/ocr/tesseract.py
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps

chore: simplify menu_button and tests
  normcap/gui/menu_button.py
  tests/conftest.py
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: menu doesn't open on second click
  docs/index.html
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: menu doesn't open on second click
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove unnecessary logging
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: update tray attribute for installed languages
  docs/index.html
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

Add buy-me-a-coffee button
  README.md
Due: mdformat

feat: add buy me a coffe link to docu and about menu
  docs/index.html
  normcap/gui/constants.py
  normcap/gui/menu_button.py
  normcap/gui/models.py
Due: black, ruff, mypy, pytest, pydeps

docs: adjust release date in changelog
  CHANGELOG
Due: none

ci: bump to 0.4.1
  README.md
  bundle/normcap.wxs
  docs/index.html
  normcap/__init__.py
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: add some notes
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/python.yaml
  bundle/platforms/utils.py
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  poetry.lock
  tests/integration/test_normcap.py
Due: black, ruff, mypy, pytest, pydeps

ci: bump poetry in cicd
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none
