Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest --log-cli-level=10 src/tests/ --cov normcap
          --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=1 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Add icon retreval test
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify scoring; Fine tune email magic; Add two more ocr test cases.
  src/normcap/ocr/magics/base_magic.py
  src/normcap/ocr/magics/email_magic.py
  src/normcap/ocr/magics/multi_line_magic.py
  src/normcap/ocr/magics/paragraph_magic.py
  src/normcap/ocr/magics/single_line_magic.py
  src/normcap/ocr/magics/url_magic.py
  src/normcap/ocr/models.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add unit tests
  src/normcap/screengrab/utils.py
  src/tests/tests_screengrab/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Cleanup code
  src/normcap/ocr/magics/email_magic.py
  src/normcap/ocr/magics/multi_line_magic.py
  src/normcap/ocr/magics/paragraph_magic.py
  src/normcap/ocr/magics/single_line_magic.py
  src/normcap/ocr/magics/url_magic.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add missing typehint
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Prepare changelog for v0.3.0
  CHANGELOG.md
Due: mdformat

Skip icon load test on gh; Increase resizing during image enhancement even further
  src/normcap/ocr/enhance.py
  src/tests/tests_gui/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Pass correct psm and oem values to tesseract engine
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Invert image if it is dark to improve detection accuracy
  src/normcap/ocr/enhance.py
  src/normcap/ocr/recognize.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Dev (#196)
  CHANGELOG.md
  src/normcap/gui/notifier.py
  src/normcap/ocr/enhance.py
  src/normcap/ocr/magics/base_magic.py
  src/normcap/ocr/magics/email_magic.py
  src/normcap/ocr/magics/multi_line_magic.py
  src/normcap/ocr/magics/paragraph_magic.py
  src/normcap/ocr/magics/single_line_magic.py
  src/normcap/ocr/magics/url_magic.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/normcap/screengrab/utils.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
  src/tests/tests_gui/test_utils.py
  src/tests/tests_screengrab/test_utils.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Adjust changelog
  CHANGELOG.md
Due: mdformat

Update ADRs
  adr/001-choose-transparent-windows-as-main-gui.md
  adr/002-choose-windows-with-screenshots-as-main-gui.md
  adr/003-use-system-tray-as-main-application.md
Due: mdformat

Add pylint-pytest and remove pylint disables
  poetry.lock
  pyproject.toml
  src/tests/conftest.py
  src/tests/test_app.py
  src/tests/test_args.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_gui/test_update_check.py
  src/tests/tests_gui/test_utils.py
  src/tests/tests_ocr/ocr_fixtures.py
  src/tests/tests_ocr/test_models.py
  src/tests/tests_ocr/test_url_magic.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add bandit security scanning
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Dev (#197)
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  adr/001-choose-transparent-windows-as-main-gui.md
  adr/002-choose-windows-with-screenshots-as-main-gui.md
  adr/003-use-system-tray-as-main-application.md
  poetry.lock
  pyproject.toml
  src/tests/conftest.py
  src/tests/test_app.py
  src/tests/test_args.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_gui/test_update_check.py
  src/tests/tests_gui/test_utils.py
  src/tests/tests_ocr/ocr_fixtures.py
  src/tests/tests_ocr/test_models.py
  src/tests/tests_ocr/test_url_magic.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.0
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update date
  CHANGELOG.md
Due: mdformat

Don't hide windows too early, as it can break pasting to clipboard
  CHANGELOG.md
  src/normcap/gui/window.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

Don't hide windows too early, as it can break pasting to clipboard (#198)
  CHANGELOG.md
  src/normcap/gui/window.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.1
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Switch to dylibbundler for MacOS dependency #199
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update changelog
  CHANGELOG.md
Due: mdformat

Introduce dynlib bundler (#201)
  CHANGELOG.md
  build.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Introduce dynlib bundler (#201) (#202)
  CHANGELOG.md
  build.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.2
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix not updating screenshot #181
  src/normcap/gui/tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update dependencies
  poetry.lock
Due: none

Dev (#203)
  CHANGELOG.md
  poetry.lock
  src/normcap/gui/tray.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.3
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Link releases directely from readme
  README.md
  pyproject.toml
Due: mdformat

Remove features from readme
  README.md
Due: mdformat

Remove toc
  README.md
Due: mdformat

Move environ logic and argparse to utils; Add test for environ logic
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/utils.py
  src/tests/conftest.py
  src/tests/integration/test_normcap.py
  src/tests/test_args.py
  src/tests/test_utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add Frog to list of similar apps
  README.md
  docs/index.html
Due: mdformat

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Add preserve interword spaces
  src/normcap/ocr/magics/magic.py
  src/normcap/ocr/models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add dependencies for opensuse
  README.md
Due: mdformat

Added tesseract-ocr-devel for opensuse
  README.md
Due: mdformat
