Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/ package/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=2 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

docs: update faq info on qt platform plugin error
  docs/index.html
Due: none

chore: update deps
  poetry.lock
Due: none

feat: switch from pytesseract to own implementation
  README.md
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/ocr/__init__.py
  normcap/ocr/models.py
  normcap/ocr/recognize.py
  normcap/ocr/tesseract.py
  normcap/ocr/utils.py
  normcap/utils.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/tests_gui/test_menu_button.py
  tests/tests_gui/test_tray.py
  tests/tests_gui/test_update_check.py
  tests/tests_ocr/test_models.py
  tests/tests_ocr/test_tesseract.py
  tests/tests_ocr/test_utils.py
  tests/tests_screengrab/test_utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

fix: enlarge menu_button to improve ux #254
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: deactivate re-capture when tray is disabled #254
  CHANGELOG.md
  normcap/gui/menu_button.py
  normcap/gui/tray.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

feat: update tray menu on languages changed
  CHANGELOG.md
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/gui/utils.py
  normcap/ocr/tesseract.py
  tests/tests_gui/test_menu_button.py
  tests/tests_gui/test_tray.py
  tests/tests_gui/test_utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: adjust socket name
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove certifi for update check
  normcap/gui/downloader.py
  normcap/gui/models.py
  normcap/gui/system_info.py
  normcap/screengrab/utils.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps

feat: remove Pillow in favor of QImage
  normcap/gui/tray.py
  normcap/gui/utils.py
  normcap/ocr/enhance.py
  normcap/ocr/models.py
  normcap/ocr/recognize.py
  normcap/ocr/tesseract.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_utils.py
  tests/tests_ocr/test_enhance.py
  tests/tests_ocr/test_recognize.py
  tests/tests_ocr/test_tesseract.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove pipe version which most likely is slower
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps

fix: menu gets overpopulated on multiple clicks
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

docs: add dpscreenocr as alternative
  README.md
  docs/index.html
Due: mdformat

docs: dpscreenocr seems not be available for macOS
  README.md
Due: mdformat

fix: regression of tray menu stopped working
  normcap/gui/menu_button.py
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

fix: regression of language add not reflected in menu
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

fix: try to fix crash on opening folder uri
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

test: ensure debug language manager is disabled
  normcap/gui/language_manager.py
  tests/tests_gui/test_tray.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove unnecessary datetime import
  normcap/gui/tray.py
  normcap/gui/utils.py
Due: black, ruff, mypy, pytest, pydeps

fix: malloc due gc removed instanced after it got deleted in a foreign slot
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: actions in menubutton got triggered multiple times when reopening menu
  normcap/gui/menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: disable download and delete buttons during download
  normcap/gui/language_manager.py
Due: black, ruff, mypy, pytest, pydeps

chore: fix deprecation warning for now required protocl
  normcap/gui/downloader.py
  normcap/gui/utils.py
Due: black, ruff, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
