Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

Switch back to installation routine; simplify
  setup.py
Due: black, mypy, pytest, pytest-cov

Lowercase name
  .github/workflows/release.yml
  README.md
  build.py
Due: black, flake8, mypy, pytest, pytest-cov

Add twine
  Pipfile
  Pipfile.lock
Due: none

Switch to only numeric versioning
  normcap/__init__.py
Due: black, flake8, mypy, pytest, pytest-cov

lowercase archive files
  .github/workflows/release.yml
Due: none

Remove debug output
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Make sure function doesn't return anything to console
  normcap/__main__.py
Due: black, flake8, mypy, pytest, pytest-cov

Don't create tag on bumpversion
  setup.cfg
Due: none

Bump version: 0.0.9 → 0.0.10
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Try entry point without function
  setup.py
Due: black, mypy, pytest, pytest-cov

Bump version: 0.0.10 → 0.0.11
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Add entry point function
  normcap/__main__.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump version: 0.0.11 → 0.0.12
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Handle tesserocr for windows more sane
  Pipfile
  normcap/normcap.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump version: 0.0.12 → 0.0.13
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove tesserocr for windows
  Pipfile
Due: none

Add additional install information
  README.md
Due: none

Fix linter issues
  README.md
Due: none

Bump version: 0.0.13 → 0.0.14
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Specify windows install method
  README.md
Due: none

Bump version: 0.0.14 → 0.0.15
  normcap/__init__.py
  setup.cfg
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix linter issues
  setup.py
Due: black, mypy, pytest, pytest-cov

Add coveralls workflow
  .github/workflows/coveralls.yml
Due: none

Increase version in test-suite
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove coveralls from pull request
  .github/workflows/coveralls.yml
Due: none

Rename workflow
  .github/workflows/coveralls.yml
Due: none

Try fix coveralls
  .github/workflows/coveralls.yml
  setup.cfg
Due: none

Rename release workflow
  .github/workflows/build.yml
  README.md
Due: none

Fix pytest version
  .github/workflows/coveralls.yml
  Pipfile
Due: none

Fix syntax error
  Pipfile
Due: none

remove coverage file; add coveralls token
  .coverage
  .github/workflows/coveralls.yml
  .gitignore
Due: none

Fix syntax
  .github/workflows/coveralls.yml
Due: none

Fix naming
  .github/workflows/coveralls.yml
Due: none

Add release infos
  CHANGELOG.md
Due: none

Fix file
  .github/workflows/build.yml
Due: none

Improve output
  normcap/common/utils.py
Due: black, flake8, mypy, pytest, pytest-cov

Add helper to get additional text information
  normcap/common/data_model.py
Due: black, flake8, mypy, pytest, pytest-cov

Adjust testing to new info
  tests/test_utils.py
Due: black, flake8, mypy, pytest, pytest-cov

Test only output of keys, not values
  tests/test_utils.py
Due: black, flake8, mypy, pytest, pytest-cov

Silence depr warning
  setup.cfg
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
