Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

Bump to python37 on windows docker
  .github/workflows/build.yml
Due: none

Fix a bunch of typos
  CHANGELOG.md
  README.md
Due: none

Further typos
  README.md
Due: none

Fix filename of license for windows
  .github/workflows/build.yml
Due: none

Use dev pyinstaller to avoid error in windows
  .github/workflows/build.yml
Due: none

Bump version
  CHANGELOG.md
  normcap/__init__.py
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix wrong env
  .github/workflows/build.yml
Due: none

Add dependencies needed for pypi version
  README.md
Due: none

Add wayland workaround using pyscreenshot
  Pipfile
  Pipfile.lock
  normcap/handlers/capture_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Set env without extension
  .github/workflows/build.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Skip lines not containing monitor information
  normcap/handlers/capture_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add release info
  CHANGELOG.md
Due: none

Restructure clean up
  setup.cfg
Due: none

Add notes for releasing
  RELEASE.md
Due: none

Bump version: 0.1.3 → 0.1.4
  normcap/__init__.py
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix linting issues
  normcap/handlers/ocr_handler.py
  tests/conftest.py
Due: black, flake8, mypy, pytest, pytest-cov

Add next step
  RELEASE.md
Due: none

Add missing dep
  setup.py
Due: black, mypy, pytest, pytest-cov

Complete publish info
  RELEASE.md
Due: none

Switch away from pipenv
  .github/workflows/build.yml
  .github/workflows/test.yml
  Pipfile
  Pipfile.lock
  README.md
  RELEASE.md
  build.py
  normcap/__init__.py
  requirements-macos.txt
  requirements-win.txt
  requirements.txt
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix testing actions
  setup.py
Due: black, mypy, pytest, pytest-cov

Fixes Issue #81: Failing when region to small
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix build
  .github/workflows/build.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
  Pipfile
  setup.py
Due: black, mypy, pytest, pytest-cov

Switch package for github actions
  requirements.txt
Due: none

Don't send notification in test mode
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Fixed app name in notification
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix blank line after import for linter
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump notify py
  setup.py
Due: black, mypy, pytest, pytest-cov

Introduce notification handler
  .github/workflows/build.yml
  README.md
  RELEASE.md
  build.py
  requirements.txt
Due: black, flake8, mypy, pytest, pytest-cov

Start working on notification
  normcap/common/utils.py
  normcap/handlers/notification_handler.py
  normcap/normcap.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump notify py
  normcap/ressources/normcapbusy.png
  test.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix blank line after import for linter
  normcap/common/utils.py
  normcap/handlers/notification_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Try different window positioning to fix issues with some WMs
  normcap/__init__.py
  normcap/handlers/crop_handler.py
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Bump version: 0.2.0 → 0.1.7
  normcap/__init__.py
  setup.cfg
  setup.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
