Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort --jobs=0 src/normcap src/tests/

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black src/normcap src/tests/

pydocstyle:
  name: pydocstyle
  stages:
  - commit
  language: system
  entry: poetry run pydocstyle src/normcap src/tests/
  pass_filenames: false

pylint:
  name: pylint
  stages:
  - commit
  language: system
  entry: poetry run pylint src/normcap src/tests
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest --log-cli-level=10 src/tests/ --cov normcap --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps src/normcap --max-bacon=1 --cluster --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
  pass_filenames: false

Pin markupsafe to avoid breaking build
  poetry.lock
  pyproject.toml
Due: none

Only use lowerbounds for deps; Use poetry during build
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

Adjust version number; Adjust dynlib
  CHANGELOG.md
  build.py
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

intercept minimize
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Try removing parent
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix macos tray fullscreen (#183)
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix patching pytesseract
  poetry.lock
  pyproject.toml
  src/normcap/ocr/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Use dbus shell for screenshot only for old gnome
  src/normcap/screengrab/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Configure timeout for downloader and tests
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/downloader_requests.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_update_check.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Move windows on KDE wayland
  script.js
  src/normcap/gui/base_window.py
  src/normcap/gui/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify screenshot gnome-shell
  src/normcap/gui/base_window.py
  src/normcap/gui/utils.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add gitignore to docs
  docs/.gitignore
Due: none

Delay screenshot to let the tray menu close
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove macos helper window
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Reorder dynlibs in build
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix MacOS linked libs
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Testbuilds on dev
  .github/workflows/python.yaml
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update screenshot in window on re-show
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Set prerelease based on version (#180)
  .github/workflows/python.yaml
  build.py
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix wrong type for language, in case every language gets deselected
  src/normcap/gui/settings_menu.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix image not filling background (#176)
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/models.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/tests/integration/test_normcap.py
  src/tests/tests_gui/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps
  poetry.lock
Due: none

Fix screengrab portal bug; Refresh screenshot; Streamline logging (#175)
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/utils.py
  src/normcap/ocr/enhance.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update readme
  README.md
  src/normcap/gui/update_check.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump version; Adust OEM (#177)
  CHANGELOG.md
  README.md
  build.py
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
  src/normcap/gui/base_window.py
  src/normcap/gui/settings.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/tests/test_app.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix html issues; Extend docu
  docs/index.html
Due: none

Don't build test packages if develop packages are build
  .github/workflows/python.yaml
Due: none

Use icons for mode indicator
  assets/icons/parse.svg
  assets/icons/raw.svg
  src/normcap/gui/base_window.py
  src/normcap/resources/parse.svg
  src/normcap/resources/raw.svg
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix log level checking
  src/normcap/gui/base_window.py
  src/normcap/gui/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify some things
  .github/workflows/python.yaml
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Adjust mode indicator position
  src/normcap/gui/base_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update readme and docs
  README.md
  docs/index.html
Due: mdformat

Quit on last window closed
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Switch to smaller traineddata fast
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix multi screen on kde
  src/normcap/gui/main_window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Feature/improve support kde (#185)
  script.js
  src/normcap/gui/base_window.py
  src/normcap/gui/utils.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  isort: any of: \.py$
  black: any of: \.py$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
