Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict -r <(poetry export -f
          requirements.txt --with dev | sed 's/\[.*\]//g' | sed -z 's/\n\W//g' |
          uniq )"
        # First `sed` removes potential "[<extra>]" after package names
        # Second `sed` removes "\n" in front of "--hash" to get one line per package
        # Final `uniq` is the used to de-duplicated those lines
        pass_filenames: false

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

fix: pipe wl-copy output to /dev/null to fix #422
  normcap/clipboard/linux.py
Due: black, ruff, mypy, pytest, pydeps

chore: remove levensthein in favor of difflib
  poetry.lock
  pyproject.toml
  tests/integration/test_normcap.py
  tests/tests_clipboard/test_linux.py
  tests/tests_ocr/test_recognize.py
Due: black, ruff, mypy, pytest, pydeps

WIP
  bundle/platforms/linux_briefcase.py
  bundle/platforms/utils.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

chore: add some notes
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/python.yaml
  bundle/platforms/utils.py
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  poetry.lock
  tests/integration/test_normcap.py
Due: black, ruff, mypy, pytest, pydeps

ci: bump poetry in cicd
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none

ci: switch to ubuntu:20.04 for appimage build
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

chore: remove legacy screencapture and jeepney
  README.md
  normcap/screengrab/__init__.py
  normcap/screengrab/dbus_portal_legacy.py
  poetry.lock
  pyproject.toml
  tests/tests_screengrab/test_init.py
  tests/tests_screengrab/test_utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: poetry update; revert to pyside 6.4.2
  poetry.lock
  pyproject.toml
Due: none

fix(ocr): quotes in test break tsv parsing #446
  .pre-commit-config.yaml
  CHANGELOG
  normcap/ocr/tesseract.py
  pydeps_internal_old.png
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

chore(issues): add link to blank issue; typos
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: adjust tbump commit msg to conventional commit format
  pyproject.toml
Due: none

build(release): bump to 0.4.2
  .github/workflows/python.yaml
  README.md
  bundle/normcap.wxs
  docs/index.html
  normcap/__init__.py
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps

ci: more robust ci cd by test building python package
  .github/workflows/python.yaml
Due: none

fix(gui): use correct button for permission dialog on macOS; don't open permission center twice
  CHANGELOG
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

chore(deps): poetry update
  poetry.lock
Due: none

docs: add faq entry about background mode
  docs/index.html
Due: none

feat: add background-mode cli argument to fix #439
  CHANGELOG
  normcap/app.py
  normcap/gui/constants.py
  normcap/gui/tray.py
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: poetry update
  poetry.lock
  pyproject.toml
Due: none

tests: add fixture required by pytest-qt for pyside 6.5+
  tests/conftest.py
Due: black, ruff, mypy, pytest, pydeps

fix(screengrab): signal for dbus exception
  normcap/screengrab/dbus_portal.py
  tests/conftest.py
  tests/tests_screengrab/test_dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps

test: fix hanging test by reordering
  tests/tests_screengrab/test_dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps

ci: add package missing for qt and xvfb
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

build(windows): do not delete normcap files after upgrade to fix #452
  CHANGELOG
  bundle/normcap.wxs
  bundle/platforms/windows_briefcase.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps
