Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black normcap tests/ bundle/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=2 -o=pydeps.png -T=png
  pass_filenames: false

pydeps-internal:
  name: pydeps-internal
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=1 -o=pydeps_internal.png -T=png
  pass_filenames: false

feat(l10n): Improve some strings a bit
  CHANGELOG
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
  tests/conftest.py
  tests/tests_gui/test_menu_button.py
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: fix some linter issues
  normcap/clipboard/linux.py
  normcap/ocr/tesseract.py
  normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): improve markdown stats"
  l10n.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): add german translations
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
Due: none

feat(l10n): Add localization helper script and readme
  l10n.py
  normcap/resources/locales/README.md
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: poetry update
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  poetry.lock
  pydeps_internal_old.png
  pyproject.toml
Due: none

build: temporarily ignore pip-audit finding
  .github/workflows/python.yaml
  .pre-commit-config.yaml
Due: none

feat(l10n): add coverage info to readme
  normcap/resources/locales/README.md
Due: mdformat

feat(l10n): integrate gettext for translations
  normcap/gui/constants.py
  normcap/gui/downloader.py
  normcap/gui/language_manager.py
  normcap/gui/localization.py
  normcap/gui/menu_button.py
  normcap/gui/models.py
  normcap/gui/notification.py
  normcap/gui/settings.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  tests/tests_gui/test_downloader.py
  tests/tests_gui/test_notifer.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(gui): add clickable (qt)-notifications
  CHANGELOG
  normcap/gui/notification.py
  normcap/gui/tray.py
  tests/tests_gui/test_notification.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: adjust debug command to new simplified path
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

build(windows): use simple folder structure as install path
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG
  docs/index.html
Due: none

build(windows): remove unnecessary files in package
  pyproject.toml
Due: none

chore: poetry update
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  docs/index.html
  poetry.lock
Due: none

docs: small wording adjustments; improve some styling
  README.md
  docs/img/coffee.png
  docs/index.html
  docs/style.css
Due: mdformat

fix(ocr): avoid exception on small images
  normcap/ocr/enhance.py
  tests/tests_ocr/test_enhance.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(ocr): set correct encoding of tsv file
  CHANGELOG
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(gui): add additional info to debug screen; fix off by one error in Rect
  normcap/gui/models.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/gui/window.py
  tests/integration/testcases/data.py
  tests/tests_gui/test_models.py
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

tests: add script to annotate integration test images
  poetry.lock
  pyproject.toml
  tests/integration/test_normcap.py
  tests/integration/testcases/annotate.py
  tests/integration/testcases/data.py
  tests/integration/testcases/ocr_test_1.png
  tests/integration/testcases/ocr_test_1_annotated.png
  tests/integration/testcases/ocr_test_source.svg
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: move icon source files to assets folder
  assets/resources/icons/normcap.svg
  assets/resources/icons/notification.svg
  assets/resources/icons/parse.svg
  assets/resources/icons/raw.svg
  assets/resources/icons/settings.svg
  assets/resources/icons/tray.svg
  assets/resources/introduction/README.md
  assets/resources/introduction/darwin-intro-1-raw.png
  assets/resources/introduction/darwin-intro-1.png
  assets/resources/introduction/darwin-intro-2-raw.png
  assets/resources/introduction/darwin-intro-2.png
  assets/resources/introduction/darwin-intro-3-raw.png
  assets/resources/introduction/darwin-intro-3.png
  assets/resources/introduction/darwin-intro-4-raw.png
  assets/resources/introduction/darwin-intro-4.png
  assets/resources/introduction/linux-intro-1-raw.png
  assets/resources/introduction/linux-intro-1.png
  assets/resources/introduction/linux-intro-2-raw.png
  assets/resources/introduction/linux-intro-2.png
  assets/resources/introduction/linux-intro-3-raw.png
  assets/resources/introduction/linux-intro-3.png
  assets/resources/introduction/linux-intro-4-raw.png
  assets/resources/introduction/linux-intro-4.png
  assets/resources/introduction/win32-intro-1-raw.png
  assets/resources/introduction/win32-intro-1.png
  assets/resources/introduction/win32-intro-2-raw.png
  assets/resources/introduction/win32-intro-2.png
  assets/resources/introduction/win32-intro-3-raw.png
  assets/resources/introduction/win32-intro-3.png
  assets/resources/introduction/win32-intro-4-raw.png
  assets/resources/introduction/win32-intro-4.png
  normcap/resources/icons/normcap.svg
  normcap/resources/icons/notification.svg
  normcap/resources/icons/parse.svg
  normcap/resources/icons/raw.svg
  normcap/resources/icons/settings.svg
  normcap/resources/icons/tray.svg
Due: mdformat

chore: add tray icons for processing and done
  assets/resources/README.md
  assets/resources/icons/tray_done.svg
  assets/resources/icons/tray_processing.svg
  normcap/gui/resources.py
  normcap/resources/README.md
  normcap/resources/icons/resources.qrc
  normcap/resources/icons/tray_done.png
  normcap/resources/icons/tray_processing.png
  tests/tests_gui/test_resources.py
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: poetry update
  poetry.lock
Due: none

feat(gui): improve english strings; refine translation process
  l10n.py
  normcap/gui/introduction.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(screengrab): log full dbus responses for debugging
  normcap/ocr/tesseract.py
  normcap/screengrab/dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore(gui): make debug info more readable; reset brush to transparent
  normcap/gui/window.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
  pydeps-internal: any of: \.py$
