Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, pytest, pytest-cov

black:
  name: black
  stages:
  - commit
  language: system
  entry: pipenv run black

flake8:
  name: flake8
  stages:
  - commit
  language: system
  entry: pipenv run flake8

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: pipenv run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: pipenv run pytest
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: pipenv run pytest --cov --cov-fail-under=1
  pass_filenames: false

Fix quotes in text breaking tsv parser
  normcap/handlers/ocr_handler.py
  test.tsv
Due: black, flake8, mypy, pytest, pytest-cov

remove test data
  test.tsv
Due: none

Fix typing for image
  normcap/common/data_model.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix linter issues
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add Multiline; Implement Paragraph
  normcap/handlers/enhance_img_handler.py
  normcap/handlers/magic_handler.py
  normcap/magics/email_magic.py
  normcap/magics/multi_line_magic.py
  normcap/magics/paragraph_magic.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Exclude whitespace from words
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Use two linebreaks for every paragraph or block
  normcap/magics/paragraph_magic.py
Due: black, flake8, mypy, pytest, pytest-cov

Concatenate multi lines to single lines
  normcap/magics/multi_line_magic.py
Due: black, flake8, mypy, pytest, pytest-cov

Switch to Tesseract Single Block Mode
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Decrease enlarging a bit
  normcap/handlers/enhance_img_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add confidence and similarity reporting to pytests
  tests/conftest.py
  tests/test_normcap.py
  tests/test_utils.py
Due: black, flake8, mypy, pytest, pytest-cov

Add padding to images (should help ocr)
  normcap/handlers/enhance_img_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add mean confidence as attribute
  normcap/common/data_model.py
Due: black, flake8, mypy, pytest, pytest-cov

Test various PSM options, use best
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Switch to py config; Add paragraph tests
  tests/images/test_email_magic_1.jpg
  tests/images/test_email_magic_1_unscaled.jpg
  tests/images/test_images.json
  tests/images/test_images.py
  tests/images/test_paragraph_magic_1_unscaled.jpg
  tests/images/test_paragraph_magic_2_unscaled.jpg
Due: black, flake8, mypy, pytest, pytest-cov

Disable padding, doesn't seem to help in my tests
  normcap/handlers/enhance_img_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add new test
  tests/images/test_images.py
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Adapot similarity for windows
  tests/images/test_images.py
Due: black, flake8, mypy, pytest, pytest-cov

Add psm for single line (helps on windows?)
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove psm opt, as it didn't help
  normcap/handlers/ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Enlarge to x5 seem to improve confidence
  normcap/handlers/enhance_img_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Handle multiple language in cli arg
  normcap/handlers/ocr_handler.py
  normcap/normcap.py
  tests/test_data_model.py
  tests/test_ocr_handler.py
Due: black, flake8, mypy, pytest, pytest-cov

Add german language to dependencies
  .github/workflows/build.yml
  .github/workflows/coveralls.yml
  .github/workflows/test.yml
Due: none

Fix exception while attribute check
  tests/conftest.py
Due: black, flake8, mypy, pytest, pytest-cov

Make url magic more robust and add tests
  normcap/magics/url_magic.py
  tests/images/test_images.py
  tests/images/test_url_magic_1_unscaled.jpg
  tests/images/test_url_magic_2_unscaled.jpg
Due: black, flake8, mypy, pytest, pytest-cov

Improve url magics correction table
  normcap/magics/url_magic.py
Due: black, flake8, mypy, pytest, pytest-cov

Add docstrings to explain why this hook is needed
  rthook.py
Due: black, flake8, mypy, pytest, pytest-cov

Put string representation into dataclass instead extra utils methods
  normcap/common/data_model.py
  normcap/common/utils.py
  normcap/handlers/capture_handler.py
  normcap/handlers/crop_handler.py
  normcap/handlers/ocr_handler.py
  normcap/magics/multi_line_magic.py
  normcap/normcap.py
  tests/test_utils.py
Due: black, flake8, mypy, pytest, pytest-cov

Remove "intelligent"
  README.md
  normcap/normcap.py
  setup.py
Due: black, flake8, mypy, pytest, pytest-cov

Adjust accent color
  normcap/normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Add keyword
  setup.py
Due: black, mypy, pytest, pytest-cov

Reorg ressources
  .gitignore
  ressource/normcap.ico
  ressource/normcap.svg
Due: none

Update docstrings
  normcap/magics/multi_line_magic.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix color in test
  README.md
  tests/test_normcap.py
Due: black, flake8, mypy, pytest, pytest-cov

Fix status
  setup.py
Due: black, mypy, pytest, pytest-cov

Add forgotten dependencies
  README.md
Due: none

Fix image not showing up
  README.md
  setup.py
Due: black, mypy, pytest, pytest-cov

Pip variant for ubuntu
  README.md
Due: none

Fix version
  normcap/__init__.py
Due: black, flake8, mypy, pytest, pytest-cov

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$, but not: setup.py
  mypy: any of: \.py$
  pytest: any of: \.py$
  pytest-cov: any of: \.py$
