Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict -r <(poetry export -f
          requirements.txt --with dev | sed 's/\[.*\]//g' | sed -z 's/\n\W//g' |
          uniq )"
        # First `sed` removes potential "[<extra>]" after package names
        # Second `sed` removes "\n" in front of "--hash" to get one line per package
        # Final `uniq` is the used to de-duplicated those lines
        pass_filenames: false

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

fix: disable download and delete buttons during download
  normcap/gui/language_manager.py
Due: black, ruff, mypy, pytest, pydeps

fix: potential div by zero
  normcap/ocr/magics/email_magic.py
Due: black, ruff, mypy, pytest, pydeps

docs: update changelog; remove deprecated code comments
  CHANGELOG.md
  normcap/gui/language_manager.py
  normcap/gui/menu_button.py
  normcap/gui/tray.py
  normcap/utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: remove experimental tag from language manager
  normcap/gui/language_manager.py
Due: black, ruff, mypy, pytest, pydeps

test: add test for exception when process returned error code
  tests/tests_ocr/test_tesseract.py
Due: black, ruff, mypy, pytest, pydeps

test: start testing window module
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps

test: esc key handling
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps

chore: improve logging output in url magic
  normcap/gui/tray.py
  normcap/ocr/magics/url_magic.py
  normcap/ocr/recognize.py
Due: black, ruff, mypy, pytest, pydeps

fix: attribute error in case of menu-entry already hidden
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

WIP
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

feat: add cli-mode
  CHANGELOG.md
  normcap/gui/tray.py
  normcap/utils.py
  tests/test_utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: add github issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/detection_quality.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: mdformat

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: mdformat

chore: fix template formatting
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/detection_quality.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: mdformat

chore: test github issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/detection_quality.md
  .github/ISSUE_TEMPLATE/feature_request.md
  poetry.lock
  pyproject.toml
Due: mdformat

chore: switch to github issue forms
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/detection_quality.md
  .github/ISSUE_TEMPLATE/detection_quality.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: mdformat

chore: small issue form improvements
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/detection_quality.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: remove mdformat-frontmatter after switch to gh issue forms
  poetry.lock
  pyproject.toml
Due: none

chore: update briefcase and other deps
  .github/workflows/python.yaml
  .gitignore
  CHANGELOG
  README.md
  bundle/platforms/linux_briefcase.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  bundle/platforms/windows_nuitka.py
  docs/index.html
  normcap/gui/constants.py
  normcap/gui/downloader.py
  normcap/ocr/enhance.py
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_portal_legacy.py
  poetry.lock
  pyproject.toml
  tests/tests_gui/test_resources.py
  tests/tests_gui/test_update_check.py
Due: mdformat, black, ruff, mypy, pytest, pydeps

chore: repair pip audit call
  .github/workflows/python.yaml
  .pre-commit-config.yaml
Due: none

chore: remove nuitka build scripts
  bundle/build.py
  bundle/platforms/linux_nuitka.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/macos_nuitka.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  bundle/platforms/windows_nuitka.py
  normcap/gui/downloader.py
  normcap/gui/system_info.py
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

ci: install ca certs
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
Due: none

fix: introduce timeout to update check to avoid unresponsive thread #411
  normcap/gui/downloader.py
  normcap/gui/tray.py
  normcap/gui/update_check.py
Due: black, ruff, mypy, pytest, pydeps

fix: explicitly set protocol for downloader
  normcap/gui/downloader.py
Due: black, ruff, mypy, pytest, pydeps

chore: update briefcase and other deps
  poetry.lock
  pyproject.toml
Due: none
