Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat --wrap 88

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black normcap tests/ bundle/

ruff:
  name: ruff
  stages:
  - commit
  language: system
  entry: poetry run ruff --fix .
  pass_filenames: false

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy
  pass_filenames: false

pytest:
  name: pytest
  stages:
  - commit
  language: system
  entry: poetry run pytest tests/ -vv --cov --cov-report xml:cov.xml --cov-report html
  pass_filenames: false

pydeps:
  name: pydeps
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=2 -o=pydeps.png -T=png
  pass_filenames: false

pydeps-internal:
  name: pydeps-internal
  stages:
  - commit
  language: system
  entry: poetry run pydeps normcap --max-bacon=1 -o=pydeps_internal.png -T=png
  pass_filenames: false

chore: format missing deps output
  normcap/utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: remove unnecessary debug statement
  normcap/ocr/tesseract.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

docs: refactor accordions; add entry on autostart for #518
  docs/index.html
  docs/script.js
  docs/style.css
Due: none

chore: poetry update; tiny refactorings
  bundle/deps.py
  normcap/clipboard/linux.py
  normcap/gui/system_info.py
  normcap/utils.py
  poetry.lock
  tests/tests_clipboard/test_linux.py
  tests/tests_gui/test_system_info.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore(gui): simplify Screen class by subclassing Rect
  normcap/gui/models.py
  normcap/gui/system_info.py
  normcap/gui/window.py
  tests/tests_gui/test_models.py
  tests/tests_gui/test_window.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(gui): fix scaling issue on scaled wayland desktop
  normcap/gui/models.py
  normcap/gui/window.py
  normcap/utils.py
  tests/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(screengrab): add support for capturing via grim; add support for hyprland
  normcap/gui/menu_button.py
  normcap/gui/models.py
  normcap/gui/system_info.py
  normcap/gui/tray.py
  normcap/screengrab/__init__.py
  normcap/screengrab/grim.py
  normcap/screengrab/utils.py
  pyproject.toml
  tests/tests_screengrab/test_grim.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(screengrab): solidify parsing response from dbus portal
  normcap/screengrab/dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

refactor(screengrab): include permission requesting
  normcap/gui/settings.py
  normcap/gui/tray.py
  normcap/gui/window.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/zh_CN/LC_MESSAGES/messages.po
  normcap/screengrab/__init__.py
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_shell.py
  normcap/screengrab/exceptions.py
  normcap/screengrab/main.py
  normcap/screengrab/permissions.py
  normcap/screengrab/utils.py
  tests/test_utils.py
  tests/tests_screengrab/test_dbus_portal.py
  tests/tests_screengrab/test_grim.py
  tests/tests_screengrab/test_permissions.py
  tests/tests_screengrab/test_qt.py
  tests/tests_screengrab/test_utils.py
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: poetry update
  normcap/gui/resources.py
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test: increase coverage
  tests/test_utils.py
  tests/tests_gui/test_system_info.py
  tests/tests_gui/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

feat(l10n): Simplify creation of new; Re-add headers; Improve readme
  .pre-commit-config.yaml
  CHANGELOG
  l10n.py
  normcap/resources/locales/README.md
  normcap/resources/locales/de_DE/LC_MESSAGES/messages.po
  normcap/resources/locales/es_ES/LC_MESSAGES/messages.po
  normcap/resources/locales/fr_FR/LC_MESSAGES/messages.po
  normcap/resources/locales/hi_IN/LC_MESSAGES/messages.po
  normcap/resources/locales/it_IT/LC_MESSAGES/messages.po
  normcap/resources/locales/pl_PL/LC_MESSAGES/messages.po
  normcap/resources/locales/pt_PT/LC_MESSAGES/messages.po
  normcap/resources/locales/ru_RU/LC_MESSAGES/messages.po
  normcap/resources/locales/uk_UA/LC_MESSAGES/messages.po
  poetry.lock
  pyproject.toml
Due: mdformat, black, ruff, mypy, pytest, pydeps, pydeps-internal

build: add retries to downloading artifacts
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  poetry.lock
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

docs: complement l10n readme; fix path to executable on Windows
  .github/ISSUE_TEMPLATE/bug_report.yml
  normcap/resources/locales/README.md
Due: mdformat

chore: bump version
  normcap/__init__.py
  pyproject.toml
  tests/test_app.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

docs: revert path to executable on windows in docs until final
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.html
Due: none

Update CHANGELOG
  CHANGELOG
Due: none

docs: add adr about shortcut/hotkey
  adr/004-do-not-implement-hotkey.md
Due: mdformat

test: increase coverage
  tests/test_utils.py
  tests/tests_gui/test_system_info.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

build: fix template branch
  normcap/screengrab/dbus_shell.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore: switch to maintained retry2; resolve pip-audit finding
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

fix(gui): increase screenshot delay (e.g. after closing the intro window)
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

chore(gui): simplify Screen model; add test
  normcap/gui/models.py
  normcap/gui/window.py
  tests/tests_gui/test_models.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

test(screengrab): add tests for main
  normcap/gui/tray.py
  normcap/screengrab/__init__.py
  normcap/screengrab/main.py
  tests/integration/test_normcap.py
  tests/integration/test_settings_menu.py
  tests/integration/test_tray_menu.py
  tests/tests_screengrab/test_main.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

fix(gui): Enable click on notification also for raw-results
  normcap/gui/notification.py
  normcap/ocr/models.py
Due: black, ruff, mypy, pytest, pydeps, pydeps-internal

Path conditions:
  mdformat: any of: \.(md|markdown|mdown)$
  black: any of: \.py$
  ruff: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
  pydeps: any of: \.py$
  pydeps-internal: any of: \.py$
