Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest --log-cli-level=10 src/tests/ --cov normcap
          --cov-report xml:cov.xml --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=1 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Disable tray on MacOS for now
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix macos tray fullscreen (#183)
  src/normcap/gui/base_window.py
  src/normcap/gui/main_window.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Configure timeout for downloader and tests
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/downloader_requests.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_update_check.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix patching pytesseract
  poetry.lock
  pyproject.toml
  src/normcap/ocr/utils.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Adjust version number; Adjust dynlib
  CHANGELOG.md
  build.py
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Poetry update
  poetry.lock
Due: none

Use dbus shell for screenshot only for old gnome
  src/normcap/screengrab/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Cleanups
  CHANGELOG.md
  assets/icons/normcap_1024.png
  assets/icons/normcap_128.png
  assets/icons/normcap_92.png
  assets/icons/normcap_install.png
  assets/icons/parse.svg
  assets/icons/raw.svg
  assets/icons/settings.svg
  pyproject.toml
Due: mdformat

Extend changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  script.js
  src/normcap/gui/settings.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix version and changelog in pyproject
  CHANGELOG.md
  pyproject.toml
Due: mdformat

Bump to 0.3.0b1
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix link syntax
  CHANGELOG.md
Due: mdformat

Remove unstable tag from builds
  .github/workflows/python.yaml
Due: none

Start tray instead window
  src/normcap/app.py
  src/normcap/gui/system_tray.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Merge windows into one; Main logic to tray
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/tests/integration/test_normcap.py
  src/tests/test_args.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix integration tests
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/tray.py
  src/tests/conftest.py
  src/tests/fixtures.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump tesseract version on macos build
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Application logic to system tray (#190)
  build.py
  pyproject.toml
  src/normcap/app.py
  src/normcap/gui/main_window.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/tests/conftest.py
  src/tests/fixtures.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/test_args.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Minor code improvements
  poetry.lock
  src/normcap/app.py
  src/normcap/gui/downloader_requests.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
  src/tests/test_args.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Minor code improvements (#191)
  poetry.lock
  src/normcap/app.py
  src/normcap/gui/downloader_requests.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
  src/tests/test_args.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Simplify cli args
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/constants.py
  src/normcap/gui/models.py
  src/normcap/gui/settings.py
  src/normcap/gui/utils.py
  src/tests/test_args.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove FAQ.md; Update docs for new verbose option
  CHANGELOG.md
  FAQ.md
  docs/index.html
Due: mdformat

Copy language files only when briefcase packaged
  src/normcap/app.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix signals going to the void
  src/normcap/gui/settings_menu.py
  src/normcap/gui/window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Dev (#192)
  CHANGELOG.md
  FAQ.md
  build.py
  docs/index.html
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/constants.py
  src/normcap/gui/downloader_requests.py
  src/normcap/gui/main_window.py
  src/normcap/gui/models.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_tray.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/tests/conftest.py
  src/tests/fixtures.py
  src/tests/integration/test_normcap.py
  src/tests/integration/testcases/data.py
  src/tests/test_args.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Update deps
  poetry.lock
  pyproject.toml
Due: none

Remove unused code; Add vulture for detecting unused code
  src/normcap/gui/constants.py
  src/normcap/gui/downloader_requests.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/gui/utils.py
  src/tests/tests_gui/test_system_info.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Sanatize comments
  src/normcap/gui/notifier.py
  src/normcap/ocr/magics/magic.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Remove BypassWindowManagerHint on Linux to fix #189
  src/normcap/gui/window.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add build date to internal release
  .github/workflows/python.yaml
Due: none

Add hover effect to settings menu; Reenable tray option on MacOS
  src/normcap/gui/settings_menu.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fine tune url heuristic
  src/normcap/ocr/magics/url_magic.py
  src/tests/tests_ocr/test_url_magic.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Improve test coverage; Remove deprecated tests
  src/tests/conftest.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_models.py
  src/tests/tests_gui/test_utils.py
  src/tests/tests_ocr/test_models.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Keep app-bar and dock re-appearing for now on MacOS
  build.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Rename debug-level to verbosity
  CHANGELOG.md
  docs/index.html
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/settings.py
  src/normcap/gui/utils.py
  src/tests/test_args.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Rename debug-level to verbosity (#194)
  CHANGELOG.md
  docs/index.html
  src/normcap/app.py
  src/normcap/args.py
  src/normcap/gui/settings.py
  src/normcap/gui/utils.py
  src/tests/test_args.py
Due: mdformat, isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Bump to 0.3.0b2
  docs/index.html
  pyproject.toml
  src/normcap/__init__.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Fix bug in notifier; simplify enhance logic
  src/normcap/gui/notifier.py
  src/normcap/ocr/enhance.py
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps

Add additional ocr test case; Increase resize factor a bit
  src/normcap/ocr/enhance.py
  src/tests/integration/testcases/data.py
  src/tests/integration/testcases/ocr_test_1.png
Due: isort, black, pydocstyle, pylint, mypy, pytest, pydeps
