Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, black, ruff, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pip-audit
        name: pip-audit
        stages: [commit]
        language: system
        entry:
          bash -c "poetry run pip-audit --strict -r <(poetry export -f
          requirements.txt --with dev | sed 's/\[.*\]//g' | sed -z 's/\n\W//g' |
          uniq )"
        # First `sed` removes potential "[<extra>]" after package names
        # Second `sed` removes "\n" in front of "--hash" to get one line per package
        # Final `uniq` is the used to de-duplicated those lines
        pass_filenames: false

      - id: ruff
        name: ruff
        stages: [commit]
        language: system
        entry: poetry run ruff --fix .
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

build: replace briefcase patch with new dockerfile hook
  bundle/platforms/linux_briefcase.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

build: replace custom pruning with new cleanup paths
  bundle/platforms/linux_briefcase.py
  bundle/platforms/macos_briefcase.py
  bundle/platforms/utils.py
  bundle/platforms/windows_briefcase.py
  pyproject.toml
Due: black, ruff, mypy, pytest, pydeps

docs: add link to windows store and adjust file sizes
  README.md
  docs/index.html
Due: mdformat

build: remove unused code
  bundle/platforms/utils.py
Due: black, ruff, mypy, pytest, pydeps

build: print briefcase log on macos
  .github/workflows/python.yaml
Due: none

ci: simplify action and only build in dynobo repo
  .github/workflows/python.yaml
Due: none

ci: upgrade to latest runners
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  pyproject.toml
Due: none

chore: update deps
  poetry.lock
Due: none

chore: apply new ruff formatting
  normcap/clipboard/linux.py
  normcap/clipboard/windows.py
  normcap/gui/settings.py
  normcap/gui/tray.py
  normcap/ocr/recognize.py
  normcap/screengrab/__init__.py
  normcap/screengrab/dbus_portal.py
  tests/integration/test_normcap.py
  tests/test_utils.py
  tests/tests_screengrab/test_utils.py
Due: black, ruff, mypy, pytest, pydeps

chore: update dependencies
  poetry.lock
  pyproject.toml
Due: none

test: mark tests which require a gui
  pyproject.toml
  tests/conftest.py
  tests/integration/test_normcap.py
  tests/tests_gui/test_language_manager.py
  tests/tests_screengrab/test_dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps

test: add test for downloader
  tests/tests_gui/test_downloader.py
Due: black, ruff, mypy, pytest, pydeps

docs: add link to microsoft store
  README.md
  docs/index.html
Due: mdformat

chore: mark todos waiting for upstream as onhold
  normcap/ocr/magics/magic.py
  normcap/screengrab/dbus_portal.py
  normcap/screengrab/dbus_portal_legacy.py
  pyproject.toml
  tests/tests_screengrab/test_dbus_portal.py
Due: black, ruff, mypy, pytest, pydeps

test: add language manager entry test
  normcap/gui/menu_button.py
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: typo in windows store link
  README.md
Due: mdformat

chore: add some ideas as todos
  normcap/gui/downloader.py
  normcap/gui/tray.py
Due: black, ruff, mypy, pytest, pydeps

test: add ast check in pre-commit
  .pre-commit-config.yaml
Due: none

test: complete coverage for menu_button
  tests/conftest.py
  tests/tests_gui/test_menu_button.py
Due: black, ruff, mypy, pytest, pydeps

fix: wrong parsing of version suffix in update test
  normcap/gui/update_check.py
  tests/tests_gui/test_update_check.py
Due: black, ruff, mypy, pytest, pydeps

test: complement update check tests
  normcap/gui/update_check.py
  tests/tests_gui/test_update_check.py
Due: black, ruff, mypy, pytest, pydeps

chore: simplify version comparison in update check
  normcap/gui/update_check.py
  tests/tests_gui/test_update_check.py
Due: black, ruff, mypy, pytest, pydeps
